<template>
    <div id="app">
        <router-view v-if="toggleView" />
    </div>
</template>

<script>
    import Utils from "./utils";

    export default {
        data() {
            return {
                toggleView: true,
            };
        },
        async created() {
            // const web3 = new Web3(window.ethereum || window.web3.currentProvider);
            // const utils = new Utils(web3);
            // const address = await utils.getAccounts();
            // Vue.prototype.$web3 = web3;
            // Vue.prototype.$utils = utils;
            // Vue.prototype.$address =address;
            // Vue.prototype.$contracts = utils.initContracts();
            // ethereum.on("accountsChanged", (accounts) => {
            //     Vue.prototype.$address = accounts[0];
            //     this.reload();
            // });
            // this.reload();
        },
        methods: {
            reload() {
                this.toggleView = false;

                this.$nextTick(() => {
                    this.toggleView = true;
                });
            },
        },
    };
</script>

<style lang="scss">
</style>
