<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!-- <link rel="icon" href="<%= BASE_URL %>favicon.png">    -->
        <title>Hashpay Pocket服务协议</title>
        <% for(var css of htmlWebpackPlugin.options.cdn.css) { %>
        <link rel="stylesheet" href="<%=css%>"></link>
        <% } %>
    </head>
    <body style="font-size: 20px;">
        <noscript>
            <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        
        <!-- built files will be auto injected -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/eruda@2.4.1/eruda.min.js"></script>
        <script>eruda.init();</script> -->
        <% for(var js of htmlWebpackPlugin.options.cdn.js) { %>
        <script type="text/javascript" src="<%=js%>"></script>
        <% } %>
        
    </body>
</html>