@import '../../styles/variables.less';
.dapp{
    background: #F3F4F6;
    &>.container{
        &>.bg{
            width: 100%;
            padding: 100px 0;
            font-size: 38px;
            color: #fff;
            background: @primary_color;
            text-align: center;
        }
        &>.dapp-form{
            padding: 30px 0;
            &>.ant-row{
                &>.ant-col{
                    padding-left: 10px;
padding-right: 10px;
.example{
    float: left;
    // margin-top: -40px;
    margin-bottom: 20px;
    
    &>.pointer{
        color: @primary_color;
        cursor: pointer;
        text-decoration: underline;

        margin: 0;
height: 40px;
  
    }
    &>.imgWrap{
        position: relative;
        border-radius: 5px;
        background: #fff;
        width: 165px;
        height: 165px;
        
        border-radius: 16px;
        box-shadow: 0 20px 40px 0 rgb(0 0 0 / 15%);
        &>img{
            height: 165px;
            width: auto;
        }
    }
}
                }
                
            }
            .submit{
                display: flex;
                justify-content: center;
                &>.ant-btn{
                    width: 200px;
                    background: @primary_color;
                color: #fff;
                height: 40px;
                }
            }
        }
    }



}




.ant-form-item-control-input-content{
    &>.ant-select:not(.ant-select-customize-input){
       &>.ant-select-selector{
              background: #fff !important;
       }
    }
}



@media (min-width:1200px){
    .dapp{
        background: #F3F4F6;
        &>.container{
            &>.bg{
                width: 100%;
                padding: 100px 0;
                font-size: 38px;
                color: #fff;
                background: @primary_color;
                text-align: center;
            }
            &>.dapp-form{
                padding: 30px 0;
                &>.ant-row{
                    &>.ant-col{
                        padding-left: 10px;
    padding-right: 10px;
    .example{
        float: left;
        margin-left: 10px;
        margin-top: 0;
        &>.pointer{
            color: @primary_color;
            cursor: pointer;
            text-decoration: underline;

            margin: 0;
    height: 40px;
      margin-left: 20px;
        }
        &>.imgWrap{
            position: relative;
            border-radius: 5px;
            background: #fff;
            width: 165px;
            height: 165px;
            margin-left: -65px;
            border-radius: 16px;
            box-shadow: 0 20px 40px 0 rgb(0 0 0 / 15%);
            &>img{
                height: 165px;
                width: auto;
            }
        }
    }
                    }
                    
                }
                .submit{
                    display: flex;
                    justify-content: center;
                    &>.ant-btn{
                        width: 200px;
                        background: @primary_color;
                    color: #fff;
                    height: 40px;
                    }
                }
            }
        }



    }
}