<template>
    <div style="padding:0 20px 0;font-size:20px;">
        <div class="WordSection1" style="layout-grid:15.6pt">

<p class="MsoNormal" align="center" style="text-align:center;text-indent:32.0pt"><span lang="EN-US" style="font-size:16.0pt">The Hashpay Wallet Service Agreement</span></p>

<p class="MsoNormal" align="center" style="text-align:center;text-indent:21.0pt"><span lang="EN-US">Recently updated on: November 12,2021</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">Dear users:</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">Thanks for
choosing the Hashpay Wallet service.The Hashpay Wallet Services Agreement
("This Agreement") is entered into by Hashpay Wallet Foundation Ltd(hereafter
"The Company" or "Us") and the User ("You" or
"The User") with the legal effect of the contract between you and the
Company.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">The Company
hereby specifically reminds you that you use the Hashpay Wallet ("Hashpay
Wallet" or this Software, please carefully read the Hashpay Wallet Service
Agreement, especially the "exemption and limitation of Liability"
under this Agreement, to ensure that you fully understand the terms of this
Agreement and consider on your own risks.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b><span lang="EN-US">I.
Confirmation and acceptance of this Service Agreement</span></b></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">1. You
understand that this Service Agreement and related agreements are applicable to
decentralized applications independently developed and owned by the Company on
Hashpay Wallet and Hashpay Wallet ("DApp") (excluding DApp developed
by third parties).</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">2. You download
the Hashpay Wallet software and create or import the wallet as if you have
fully read and accepted the full terms of this Agreement, effective immediately
and is binding on both parties.If you do not agree with the terms of this
Service Agreement, you must stop using hashpay. immediatelyIf you have
downloaded the hashpay,, please delete it now.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">3. This
Agreement may be updated by the Company at any time and the amended Agreement
effective immediately upon publication on Hashpay Wallet without notice.After
the Company announces the modified terms of the agreement, if you do not accept
the modified terms, please stop using Hashpay Wallet, immediately and your
continued use of Hashpay Wallet will be deemed to accept the modified
agreement.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">4. If you are
under the age of 18, or are incompetent or with limited civil capacity, please
use Hashpay Wallet. under the guidance of your parent or guardian</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b>Ⅱ<span lang="EN-US">.Definition</span></b></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">1. China: refers
to the People's Republic of China, including (1) Hong Kong Special
Administrative Region, (2) Macao Special Administrative Region and (3) Taiwan
region.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">2.Hashpay
Wallet: refers to the blockchain wallet developed by the company based on other
mainstream blockchain systems, including other aids developed to facilitate
user use of blockchain systems.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">3. User:</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">A.The user must
be a natural person with full civil conduct capacity;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">B.If you use
Hashpay Wallet for a minor under age 18, you need Hashpay Wallet. under the
guidance of your parents or guardianWhere a Hashpay Wallet or restricted civil
capacity exceeds his civil rights or capacity for all the consequences of the
transaction, Hashpay Wallet has the right to hold you and your parents or
guardian responsible.</span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:21.0pt"><span lang="EN-US">4.</span><span lang="EN-US">The excluded persons:</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(1) A person who
is prohibited, restricted, unauthorised or unqualified for the use of the
Services (in any form or manner (in all or in part) because of the Service
Agreement, laws, regulatory requirements or the provisions of the jurisdictions
applicable to such user.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(2) For the
avoidance of doubt, residents and / or users living in China are also covered
within the definition of "excluded persons".</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">We do not
provide services to the excluded persons.If you are our excluded person, please
stop using our service immediately.If you continue to use our Services, you
acknowledge and agree that you will assume all corresponding liabilities in
accordance with the applicable laws, regulations and provisions of the
jurisdiction where you reside and you shall exempt us from any liability
arising from your such use, including but not limited to losses to us for such
breach, breach, violation, third party claims or administrative penalties and
reasonable legal and administrative costs, costs and expenses, including
reasonable attorney fees.</span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:21.0pt"><span lang="EN-US">5.</span><span lang="EN-US">Identity: refers to the numeric identity generated based on your
public-private key pair.</span></p>

<p class="MsoNormal" style="margin-left:21.0pt"><span lang="EN-US">6. Novice Guide:
the Hashpay Wallet operation guide for you before you use Hashpay Wallet (and
during future use) to help you understand the basics of blockchain.</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">7. Create or
Import Wallet: the process by which you use Hashpay Wallet, to confirm
performing this Agreement and create or import the wallet.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">8. Wallet
Password refers to the password you were prompted by the software operation
interface while creating the Hashpay Wallet wallet, which is used to encrypt
the private key.As a decentralized application, the wallet password is not
stored on your mobile device or your company's server, and once you lose it,
you need to reset the new password with a plain private key or mnemonic word.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">9. Information
prompt: the Hashpay Wallet software operation interface is recommended to
follow the relevant steps.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">10. Developer
User: Users who use Hashpay Wallet open source code and developer mode in
accordance with our notification and relevant open source protocols.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">11. Private key:
composed of 256-bit random characters, is the core that the user owns and uses
digital tokens.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">12. Public key:
generated by the private key in one way with the principle of cryptography, and
used to generate the blockchain digital wallet address, the digital wallet
address is the public collection address.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">13. Mnemonic
word: It meets the blockchain BIP39 industry standards and consists of 12 (or
15 / 18 / 21 / 24) ordered words generated by a random algorithm.Is an easy
recording expression of the private key, to facilitate your backup and storage.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">14. Keystore: is
the file form of the private key or mnemonic word encrypted by the wallet
password. It is stored only in your mobile device and is not synchronized to
our company server.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">15. Digital
tokens: the types of digital tokens currently supported by Hashpay Wallet,
including but not limited to BTC, ETH, etc.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">16. Third-party
Service refers to products and services provided by third parties such as
third-party DApp, third-party DeFi, third-party smart contract, third-party
open source agreement, third-party web page, third-party hardware wallet,
third-party online web wallet, third-party exchanges, etc.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">17. Message
Center: The inbox in which you can receive information or notifications from
us.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">18. Personal
information: refers to various information that recognizes the personal
identity of a user recorded separately or combined with electronic or other
information, including, but not limited to, personal biometric information,
email address, wallet address, mobile device information, operation records,
transaction records, etc., but excluding the user's wallet password, private
key, mnemonic, Keystore.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">19. Intelligent
contract: refers to an intelligent, blockchain-based contract that aims to
spread, verify, or execute contracts in an informationized manner.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b><span lang="EN-US">III. Service
content</span></b></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">1.Creates or
imports a wallet.For Hashpay Wallet-supported digital tokens, you can use
Hashpay Wallet to generate new wallets or compatible wallets generated by other
wallet tools for importing the associated blockchain system.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">2.Transfer,
collection.You can use Hashpay Wallet's transfer and collection functions to
manage digital tokens, that is, to electronically sign the private key to
modify the ledger of the relevant blockchain.Transfer refers to the payer using
the blockchain address of the payee for the transfer operation, and the actual
transfer and collection behavior all occur in the relevant blockchain system
(rather than Hashpay Wallet).</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">3. Manages
digital assets.You can use Hashpay Wallet to add, keep, and remove the digital
tokens supported by Hashpay Wallet.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">4. Browse for
DApp.Through the link on the Hashpay Wallet, users can jump to the DApp and use
the services provided by that DApp (including the company's own DApp and
third-party DApp).</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">5.Transaction
record.We will copy all or part of your transactions through the blockchain
system.However, the transaction records are subject to the records of the blockchain
system.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">6.Developer
mode.To facilitate developer users, developer users can access any other
website and third-party D A p p that are not integrated in Hashpay Wallet by
typing the URL through the search box.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">7.Transaction
record.We will copy all or part of your transactions through the blockchain
system.However, you should follow the latest transactions of the blockchain
system.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">8.Out of
service.You know that we cannot withdraw or revoke transaction operations for
you based on the "irrevocable" attribute of blockchain system
transactions, but under certain circumstances we can suspend or restrict a
user's operation on the Hashpay Wallet n software.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">9. Provides
other services that we consider necessary.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b><span lang="EN-US">IV. Users
should understand the following common problems when accepting the above
services provided by the Company</span></b></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">1.Adhering to
the decentralized characteristics of blockchain and in order to protect users'
digital tokens security, the company provides decentralized services, which are
greatly different from banking financial institutions.The user understands that
the Company (decentralized scheme) does not provide the following services:</span></p>

<p class="MsoNormal" style="margin-left:21.0pt"><span lang="EN-US">(1) Store the
user's wallet password (i. e., the password set when you created / imported the
wallet), private key, mnemonic, Keystore;</span></p>

<p class="MsoNormal" style="margin-left:21.0pt"><span lang="EN-US">(2) To retrieve
the user's wallet password, private key, mnemonic, Keystore;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(3) Freeze the
wallet;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(4) Reporting
the loss of the wallet;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(5) Recovery
Wallet;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(6) Trading
rollback.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">2. Since the
company does not provide the above services, users should keep their own mobile
device containing Hashpay Wallet, backup Hashpay Wallet, backup wallet
password, mnemonic, private key and Keystore.If the user lost the mobile
device, deleted, did not back up Hashpay Wallet, deleted and did not back up
the wallet, wallet password, private key, mnemonic, Keystore, the company
cannot restore the wallet or recover the wallet password, private key,
mnemonic, Keystore; if the user transaction (such as wrong transfer address),
the company can not cancel the transaction.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">3.The digital
token management services available to 3. and Hashpay Wallet do not include all
existing digital tokens, and do not operate any digital tokens not supported by
Hashpay Wallet through Hashpay Wallet.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">4. Hashpay Wallet
is only a digital token management tool, not an exchange or trading
platform.Although this Agreement will refer to "transactions" several
times, its actions generally refer to user use.Transfer and collection
operations conducted by Hashpay Wallet are essentially different from
"transactions" conducted on an exchange or trading platform.</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">&nbsp;5.Hashpay
Wallet includes our independently owned DApp and DApp provided by a third-party
platform.The DApp,Hashpay Wallet provided for third-party platforms only provides
a blockchain browser for users to access the DApp.The user shall judge and
evaluate the services or transactions provided by the third party DApp before
accepting the services on the third party DApp.</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b><span lang="EN-US">V. Your
rights and obligations</span></b></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">1. Creates or
imports a wallet</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">(1) Create or
import a wallet: You have the right to create and / or import the wallet
through Hashpay Wallet on your mobile device, the right to set the wallet
password of the wallet, and the right to use your wallet to make transfer and
collection transactions through the blockchain through the Hashpay Wallet
application.</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">(2) The Company
may develop different software versions for different terminal devices, and you
should choose to download the appropriate version for installation according to
the actual needs.If you obtain the software from a legally authorized third
party or install the same name as the software, the company will not guarantee
the normal use or security, and the losses caused will be at your own expense.</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">(3) After a new
version of this software will be released, the old version of the software may
not be available.The Company does not guarantee the security, continued
availability and provision of customer service of the old software.Please feel
free to check it out and download the latest version.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">2. U</span><span lang="EN-US">se</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">(1) Users
should properly keep the mobile device, wallet password, private key, mnemonic
words, Keystore and other information by themselves.The Company is not
responsible for keeping the above information for the users.All risks,
liabilities, losses, costs incurred by your loss of mobile equipment, active or
passive leakage, forgetting of your wallet password, private key, mnemonics,
Keystore or attack or fraud shall be at your own expense.</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">(2) Follow the
information prompt.You understand and agree to follow the information prompts
made by Hashpay Wallet and follow the information prompts, otherwise, all
risks, responsibilities, losses, expenses and other incurred shall be borne by
yourself.</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">(3) You are
aware of and understand that Hashpay Wallet is not obliged to perform due
diligence on the linked third-party DApp services or transactions, and that you
should make rational investment decisions and assume the corresponding
investment risks independently.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">3. Transfer
accounts:</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">(1) You
understand the "irrevocable" attribute based on the blockchain
operation, and when you use the Hashpay Wallet transfer function, you should
bear the consequences caused by your own operation error (including but not
limited to your loss of the wrong transfer address and your own choice of the
transfer node server).</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">(2) You know
that the following conditions may cause a transfer "transaction
failure" or "package timeout" when using the Hashpay Wallet
service:</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">1) wallet
balance;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">2) deals trade
miners' insufficient;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">The 3)
blockchain failed to execute the contract code;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">4) exceeds the
specified transfer amount;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">5) network,
equipment and other technical faults;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">6) blockchain
network congestion, failures and other reasons caused by transactions are
abandoned;</span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:15.75pt"><span lang="EN-US">（3）</span><span lang="EN-US">You are aware that Hashpay Wallet only
provides you with transfer tools, and after you complete the transfer with
Hashpay Wallet, the Company has completed all the obligations of the secondary
service, and it does not bear any obligations on other disputes.</span></p>

<p class="MsoNormal"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b><span lang="EN-US">VI. Risk tips</span></b></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">1. You know and
know that digital tokens in the digital currency sector may pose significant
risks of cash failure and technical instability.And the price of digital tokens
fluctuates much higher than other financial assets.We carefully remind you to
rationally choose to hold or dispose of any one of your digital tokens based on
your financial position and risk preferences.</span></p>

<p class="MsoNormal" style="text-indent:15.75pt"><span lang="EN-US">&nbsp;2. When use
the Hashpay Wallet service, if you or your partner fails to comply with the instructions,
transaction, payment page, Hashpay Wallet does not guarantee that the
successful completion of the transaction will be completed and Hashpay Wallet
is not liable for damages.If the above occurs, the money has been entered into
your or your trader account.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">3.Hashpay Wallet
Wallet or third-party Wallet, you understand the "irreversible"
attributes of blockchain operations, and related transactions have
"irrevocable" characteristics, and you and your partner will bear the
corresponding risk consequences.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">4. When you use
Hashpay Wallet integrated third-party DApp services or conduct a transaction,
for your benefit, the company recommends that you carefully read this Agreement
and Hashpay Wallet tips, understand the transaction object and product information,
and take action before carefully assessing the risk.All transaction acts you
conduct in a third party DApp are your personal conduct, and a binding
contractual relationship is established between you and your counterpart and
unrelated to Hashpay Wallet.Hashpay Wallet is not liable for any risks,
liabilities, losses, or expenses incurred because of your transaction behavior.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">5. During the
transfer process, if similar abnormal information such as "transaction
failure" and "package timeout" prompt, you should reconfirm
through the official channels of the relevant blockchain system or other
blockchain query tools to avoid repeated transfer; otherwise, all resulting
losses and expenses shall be at your own expense.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">6. You
understand that when you create or import your wallet on Hashpay Wallet, your
Keystore, private key, mnemonic, and other information is stored only on the
current mobile device, not on Hashpay Wallet or the company's server.You can
replace your mobile device by following the operating guidelines provided by
Hashpay Wallet.However, if you do not save or back up the wallet password,
private key, mnemonic, Keystore and other information, and if your mobile
device is lost, your digital token will be lost, the company cannot recover for
you, you need to bear the corresponding losses.If you export, save or back up
the wallet password, private key, memo, Keystore, or the device or server that
saves or backs up the above information is hacked or controlled, your digital
token will be lost, and the company cannot recover for you, you will bear the
corresponding losses.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">7. We recommend
that you make a secure backup of your wallet password, private key, mnemonic,
and Keystore for your wallet when you create or import your wallet.We call your
attention, please do not use the following backup methods: screenshots, email,
notepad, SMS, WeChat, QQ and other electronic backup methods.We recommend that
you copy information like mnemonics and Keystore on a paper notepad, and that
you can also keep your electronic data to your password manager.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">8. We recommend
that you use Hashpay Wallet, in a secure network environment to make sure your
mobile device is not jailbreak or Root to avoid possible security hazards.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">9. You are wary
of unofficial Hashpay Wallet fraud while using our services.Once such behavior
is discovered, we encourage you to tell us the first time.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b><span lang="EN-US">VII. Change,
interruption and termination of the service</span></b></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">1. You agree
that the Company can temporarily provide some service functions to ensure the independent
business management rights, or suspend some services or open new service
functions in the future.When any functionality is reduced or added or changed,
as long as you still use the services provided by the Company, you still agree
to this Agreement or the amended terms of this Agreement.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">2. You
understand the Company will suspend service when you understand:</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(1) Interrupt
business due to technical reasons such as equipment, blockchain system
maintenance, upgrading, failure and communication interruption;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(2) Due to
typhoon, earthquake, tsunami, flood, power failure, war, or terrorist attacks,
virus, Trojan, hacking, system instability or government behavior, the company
system is unable to provide services or the company reasonable view will have
greater risk;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(3) Other
circumstances that the Company cannot control or reasonably foresee occur.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b><span lang="EN-US">VIII. Your
commitment to legally use the company's services</span></b></p>

<p class="MsoNormal" style="text-indent:31.5pt"><span lang="EN-US">1. You shall
comply with the laws and regulations of the country or region where you live and
shall not use Hashpay Wallet for any unlawful purpose or use of our Company
services in any unlawful manner.</span></p>

<p class="MsoNormal" style="text-indent:31.5pt"><span lang="EN-US">2. You may not
use Hashpay Wallet to engage in illegal or criminal acts, including but not
limited to:</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(1) Opposing the
basic principles set out in the Constitution, endangering state security,
leaking state secrets, subverting state power, or destroying state unity;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(2) Engages in
any illegal and criminal acts, including but not limited to money laundering,
illegal fund-raising, etc;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(3) Interferes
with or attempts to interfere with the services of any user or otherwise by
using any automated program, software, engine, web crawlers, web analysis
tools, data mining tools or similar tools;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(4) Provides
gambling information or in any way to entice others to engage in gambling;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(5) Invasion
others' Hashpay Wallet wallets to steal digital tokens;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(6) Conduct, or
untrue, transactions inconsistent with the contents of the transaction claimed
by the counterparty;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(7) Engage in
any behavior that infringes on or may infringe on the Hashpay Wallet service
system and data;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(8) Other
violations and acts deemed inappropriate by the Company for justifiable
reasons.</span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:21.0pt"><span lang="EN-US">3.</span><span lang="EN-US">You understand and agree that you shall indemnify, including
reasonable attorney fees, if you suffer any damages, any claim or any third
party, or fees from any administration.</span></p>

<p class="MsoNormal" style="margin-left:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b><span lang="EN-US">IV. Privacy
Terms</span></b></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">The Company
attaches great importance to the protection of user privacy. Please refer to
the Hashpay Wallet Privacy Policy published by the Company and updated from
time to time.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b><span lang="EN-US">X.
Disclaimand limitation of liability</span></b></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">1.The company is
only responsible for the obligations listed in this agreement.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">2. You
understand and agree that the Company can only provide Hashpay Wallet services
according to existing technical levels and conditions as permitted by law.The
Company is not liable for Hashpay Wallet's inability to provide services due
for the following reasons:</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(1) Downtime
maintenance or upgrade of the Hashpay Wallet system;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(2) Force
majeure reasons such as typhoon, earthquake, flood, lightning or terrorist
attacks;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(3) Your mobile
equipment hardware and communication lines, power supply line failure;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(4) You operate
improperly or did not use the Company services as authorized or approved by the
Company;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(5) Due to
virus, Trojan horse, malicious program attacks, network congestion, system
instability, system or equipment failure, communication failure, power failure,
bank and other reasons or government behavior;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(6) Any other
reason not because of the Company.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">3.</span><span lang="EN-US" style="font-size:12.0pt">The company is not responsible for the
following situations:</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(1) Loss of
digital token caused by the user lost mobile device, deleted and not backed up
Hashpay Wallet, deleted and did not to back up the wallet, wallet stolen or
forgotten wallet password, private key, mnemonic, Keystore.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(2) Loss of
digital tokens caused by the user's wallet password, private key, mnemonics,
Keystore,, or borrow, transfer or authorize others to use their mobile device
or Hashpay Wallet wallet, or failure to download Hashpay Wallet applications or
other Hashpay Wallet applications through the company's official channels or
unsafe means;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(3) Loss of
digital tokens caused by user error (including but not limited to your wrong
transfer address, and your own choice of the transfer node server);</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">(4) Loss of
digital token caused by misoperation because users do not understand the nature
of blockchain technology;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">4. Due to
personal reasons and irresistible factors has nothing to do with the Company.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">5.The risks and
consequences of users' operations on third-party DApps. You understand that
Hashpay Pocket is only used as a tool for your digital token management. The
company cannot control the quality, safety or legality of the products and
services provided by the third-party DApp, the authenticity or accuracy of the
information, and the ability of the counterparty to perform its obligations
under the agreement signed with you. All your transactions in the third-party
DApp are your personal behavior, and a binding contractual relationship is
established between you and your counterparty and has nothing to do with
Hashpay Pocket. The company reminds you that you should use your own prudent
judgment to determine the authenticity, legality and validity of the login DApp
and related information. The risks incurred by you and any third-party
transactions shall also be borne by you.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><b><span lang="EN-US">XI. Others</span></b></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">1. You need to
have a full understanding of and comply with all relevant laws, regulations and
rules in your jurisdiction and for the use of the services of the Company.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">2. If you are
using our services, you can contact us by submitting feedback at Hashpay
Wallet.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">3. You can view
this protocol in Hashpay Wallet.We encourage you to consult our service
agreements every time you visit Hashpay Wallet.</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" align="right" style="text-align:right;text-indent:21.0pt;
word-break:break-all"><span lang="EN-US">This Agreement applies from 2021,
October 15</span></p>

<p class="MsoNormal" align="right" style="text-align:right;text-indent:21.0pt"><span lang="EN-US">Hashpay Wallet&nbsp; Foundation LTD.</span></p>

<p class="MsoNormal" align="right" style="text-align:right;text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal"><span lang="EN-US">&nbsp;</span></p>

</div>
    </div>
</template>