<template>
    <div style="padding:0 20px 0;font-size:20px;">
        <div class="WordSection1" style="layout-grid:15.6pt">

<p class="MsoNormal" align="center" style="text-align:center;text-indent:32.0pt"><span lang="EN-US" style="font-size:16.0pt">The Hashpay Wallet Service Agreement</span></p>

<p class="MsoNormal" align="center" style="text-align:center;text-indent:21.0pt"><span lang="EN-US">Recently updated on: October 12,2021</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">&nbsp;</span></p>

<p class="MsoNormal" style="text-indent:21.0pt"><span lang="EN-US">Dear users:</span></p>


<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
hashpay Pte. Ltd. (“we”, “us” or “our”) is a leading blockchain software development company, with a strong focus on leveraging on decentralised technologies to provide secure and trusted digital asset management services to individuals like yourself (“you” or “your”). We host a top-level domain website, https://hashpay.pro, that serves information regarding hashpay and our offerings, as well as sub-domains for our product offerings (“Sites”), which include text, images, audio, code and other materials or third party information.
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
Due to the rise of scammers finding ways to dupe unsuspecting victims of their digital assets, please verify the SSL certificate each time you visit our domain website. These Terms of Service (as defined below) will only apply to the domain website https://hashpay.pro with the valid SSL certificate issued by Encryption Everywhere DV TLS CA. Please ensure the authenticity of the SSL certificate before downloading from, clicking on or otherwise interacting with the website that you are visiting. For the avoidance of doubt, we have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third party web sites or services. We shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such websites or services.
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
These Terms of Service (“Terms” or “Terms of Service”) contain the terms and conditions that govern your access to and use of the Site and Services (as defined below) provided by us and is an agreement between us and you or the entity you represent. Please read these Terms of Service carefully before using the Site or Services. By using the Site, or clicking a button or checkbox to accept or agree to these Terms of Service where that option is made available or, completing an order form for Services, or, if earlier, using or otherwise accessing the Services (the “Effective Date”), you (1) accept and agree to these Terms of Service and any additional terms, rules and conditions of participation issued by us from time to time and (2) consent to the collection, use, disclosure and other handling of information as described in our Privacy Policy. If you do not agree to these Terms of Service, then you may not access or use the Services.
</p>


<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
We hereby reminds you that you must carefully read the full content of these Terms of Service and other documents mentioned in these Terms of Service before using our mobile application “hashpay” available on various mobile platforms including but not limited to the Google Play Store and the Apple App Store (“hashpay” or “App”). In particular, you must carefully read the section of “Disclaimer and Limitation of Liability”. You must make sure that you fully understand the entire Terms of Service and evaluate the risks of using hashpay on your own.
</p>


<p class="MsoNormal" style="text-indent:21.0pt">
1.Confirmation and Acceptance of these Terms of Service
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
1.1You understand that these Terms of Service and other relevant documents apply to hashpay and the Decentralised Applications (“DApps”) which are developed and owned independently by us on hashpay (and excluding DApps developed by third parties).
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
1.2After you download hashpay and start to create, recover Identity (defined as below) or import wallet, you are deemed as having read and accepted these Terms of Service, which will cause these Terms of Service to become effective and legally binding on both you and us immediately. IF YOU DO NOT AGREE TO THE TERMS IN THESE TERMS OF SERVICE, YOU MUST CEASE USAGE OF hashpay IMMEDIATELY AND IF YOU HAVE DOWNLOADED hashpay, PLEASE PROCEED TO DELETE hashpay IMMEDIATELY.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
1.3In accessing or using hashpay, you agree:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
1.3.1to be bound by the latest version of these Terms of Service without variation or modification;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
1.3.2that in the jurisdiction to which you are subject, you are of legal age to use hashpay and to create binding legal and financial obligations for any liability you may incur as a result of the use of hashpay; 
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
1.3.3you are not an Excluded Person (as defined below).
</p>


<p class="MsoNormal" style="text-indent:21.0pt">
1.4We may, at our sole discretion, modify or replace these Terms of Service at any time. The modified Terms of Service will automatically take effect once it is posted on our Sites and you will not be notified separately. If you do not agree with the modifications, you must cease to use hashpay immediately.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
1.5Please take note that your use of hashpay after any such modification to these Terms of Service constitutes your acceptance of these Terms of Service as modified.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
2.Definition
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.1China: means the People’s Republic of China and includes (1) the Hong Kong Special Administrative Region; (2) the Macao Special Administrative Region; and (3) the Taiwan province.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.Definition
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.1China: means the People’s Republic of China and includes (1) the Hong Kong Special Administrative Region; (2) the Macao Special Administrative Region; and (3) the Taiwan province.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.2hashpay: means the multi-coin blockchain wallet developed by us based on distributed ledger technology and other supporting tools which are developed for your convenience when using blockchain systems.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
2.3Excluded Person:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.3.1a person other than a natural person who possesses legal and mental capacity to enter into these Terms of Service; 
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.3.2a person who is prohibited, restricted, unauthorised or ineligible in any form or manner whether in full or in part under these Terms of Service, laws, regulatory requirements, or rules in the jurisdiction applicable to such a user, to use the Services (as defined below).
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.3.3For the avoidance of doubt, users resident and/or domiciled in China are Excluded Persons.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
2.4Identity: means the blockchain identity generated from a pair of your Public Key and Private Key.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.5Beginner’s Guide: means the operation guide provided by us before you start to use hashpay (and during your future use of hashpay). This Beginner’s Guide would help you understand the basic knowledge about blockchain.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.6Create or import wallet: means your use of hashpay to create or import wallet after your acceptance of these Terms of Service.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.7Wallet Password: means the password determined by you when you create the wallet. The Wallet Password will be used to encrypt and protect your Private Key. hashpay, as a decentralised application, will not store your Wallet Password on our servers, nor will your Wallet Password be stored in your own mobile devices. If you lose or forget your Wallet Password, you will have to reset the Wallet Password with your Private Key or Mnemonic Words.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.8Alert: means the messages displayed on hashpay’s operation interface which provides suggestions for you on subsequent operations.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.9Specific Users: means users who should cooperate with us and disclose Personal Information in order to comply with the laws, regulations and policies of Singapore and other countries.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
2.10Developer Users: means users who use services provided to Developers, such as hashpay Open Source Code and Developer mode etc., in accordance with our notices and relevant Open Source License.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.11Private Key: consists of 256 random bits. Private Key is the core for you to hold and use the Tokens.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
2.12Public Key: is derived from the Private Key based on cryptography and is used to generate wallet addresses. A wallet address is a public address for receipt of Tokens.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
2.13Mnemonic Words: consists of 12 (or 15/18/21/24) words which are randomly generated, and it is based on BIP39, the industry standard of blockchain. It is a human readable format of words to back up your Private Key for recovery.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.14Keystore: means Private Key or Mnemonic Words in the format of a file which is encrypted and protected by your Wallet Password. Keystore is stored only in your mobile device and will not be synchronised to our servers.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.15Tokens: means the tokens which are supported by hashpay currently, including but not limited to BTC, ETH and so on.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.16Materials: means contents in the columns of “Browse”, “Market” etc. on hashpay. The Materials are third parties’ proprietary properties. You shall not reproduce or distribute the materials without their permission and authorisation. Foregoing Materials are solely for your reference and shall not be considered as guidance or advice on your transactions provided by us.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.17Notification Centre: means the inbox where you may receive messages or notices from us.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.18Personal Information: means information recorded in electronic or any other form which may identify a natural person when used alone or in combination with other information, including but not limited to personal biological identification information, e-mail address, wallet address, mobile device information, operation record, transaction record, but excluding Wallet Password, Private Key, Mnemonic Words and Keystore.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.19Smart Contract: means the type of Smart Contract operating on Ethereum blockchain and spreading, verifying and executing contracts via information methods, including but not limited to the Tokenlon Smart Contract.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.10WETH: means the tokenisation of ETH. Because ETH does not satisfy its ERC20 standard, ETH is packaged via the means of tokenisation to be used for direct transactions with other Tokens. The exchange rate between Tokens supported by hashpay and WETH is decided by the third-party-developed Smart Contracts.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.11ETH: means Ether, the cryptographic token associated with the Ethereum blockchain, which for the avoidance of doubt does not include “Ethereum Classic”.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
2.12hashpay Open Source Code (“hashpay OSC”): means the partial software code of hashpay that we have publicised and made open-source. Developer users may use (include further development) suc
</p>

<p class="MsoNormal" style="text-indent:21.0pt"
2.13Open Source License: means the third-party-developed open source license that shall be abided by Developer Users when using hashpay OSC.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
2.14Third-Party Service: means the products and services provided by the third parties such as third-party-developed DApp, third-party-developed Smart Contract, third-party-developed Open Source License, third-party-developed crypto currency hardware wallet, third-party-developed webpage, and third-party-developed exchange etc.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
3.hashpay Services (collectively, the “Services”)
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.1Create or Recover Identity. You may use the “Create Identity”, “Recover Identity” button on hashpay to create or recover your Identity and manage multi-blockchain wallets under one Identity.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.2Import wallet. You may use hashpay to create a new wallet or import wallets generated by other wallet application. You may only import wallets with Tokens which are supported by hashpay.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.3Transfer and receive Tokens. You may manage your digital Tokens by using the transfer and receipt functionalities of hashpay, i.e., you may revise the blockchain ledger by signing with your Private Key. Transfer of Tokens means the payer’s transfer of the Token to the ENS domain or blockchain address of the payee. Such “transfer” of Tokens involves a validated record of such transaction on the distributed ledger of the relevant the blockchain system (rather than an actual delivery or transfer of Tokens on hashpay).
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.4Observe the quotation. You may use hashpay to observe the quotation of the Tokens provided by third parties. The quotation of each Token is captured by hashpay from corresponding exchange and is displayed in the “Market” column on hashpay.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.5Manage Tokens. You may use hashpay to add, manage or delete the Tokens [from the hashpay interface] (except ETH and BTC) supported by hashpay.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.6Decentralised Exchange (DEX). You may exchange digital Tokens with third parties on the third-party-developed Smart Contract Tokenlon. hashpay acts as an interface tool for you to interact with the third-party-developed Smart Contracts and displays relevant results of such exchange of digital Tokens.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.7Browse DApps. You may use hashpay to visit and use the services provided by DApps (including DApps developed by us and DApps developed by third parties).
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.8Search DApps. You may use search box on hashpay to search DApps already displayed on hashpay.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.9Integrate crypto currency hardware wallet. You may match hashpay of appropriate version with certain crypto currency hardware wallet and use the crypto currency hardware wallet to confirm the transactions operated through hashpay.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
3.10Payment without Password. You may use the function of Payment without Password of hashpay. The Payment without Password function stores your Wallet Password in your mobile devices’ Keychain/Keystore via secure encryption algorithm. Your biological identification (Touch ID or Face ID) and authentication are called when conducting transactions, in order to quickly complete payment and signature.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.11Developer mode. For the convenience of Developer Users, they may access any websites and any third-party-developed DApps not integrated on hashpay by entering URL in search box under the Developer mode.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.12Transaction records. We will copy all or part of your transaction records from the blockchain system. However, you shall refer to the blockchain system for the latest transaction records.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.13Suspension of service. You understand that we are not able to reverse or cancel the transaction because transactions based on blockchain technologies are irrevocable. However, under certain circumstances, we may suspend or limit the function of hashpay used by a particular user.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.14Other services that we would like to provide.
</p>


<p class="MsoNormal" style="text-indent:21.0pt">
Users who use hashpay acknowledges and accepts that:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.15In order to keep the decentralisation feature of blockchain and to protect the security of your digital Tokens, we offer decentralised service which is largely different from the banking and financial institutions. You acknowledge and accept that we SHALL NOT have any responsibility to :
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.15.1store your Wallet Password (the password you set when creating or importing wallets), Private Key, Mnemonic Words or Keystore;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.15.2recover your Wallet Password, Private Key, Mnemonic Words or Keystore;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.15.3freeze the wallet;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.15.4report the loss of wallet;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.15.5recover the wallet; 
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.15.6rollback transactions.
</p>


<p class="MsoNormal" style="text-indent:21.0pt">
3.16You shall bear sole responsibility to take care of your mobile devices, back up the hashpay App, and back up the Wallet Password, Mnemonic Words, Private Key and Keystore. In the event that: your mobile device is lost, your hashpay App or your wallet is deleted and not backed up, your wallet is stolen or you forget your Wallet Password, Private Key, Mnemonic Words or Keystore, we will not be able to recover the wallet or recover Wallet Password, Private Key, Mnemonic Words or Keystore. We may not be able to cancel transactions for your mishandling (such as typing in wrong addresses for transactions, wrong amounts to be exchanged) and we shall not be responsible in any way in respect of the same.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.17When you use the function of Payment without Password of hashpay, please properly back up the Wallet Password. After multiple failed attempts to verify your Touch ID or Face ID, you will need to input your Wallet Password. If you forget Wallet Password, you need to import Mnemonic Words/Private Key and set a new Wallet Password. We do not store your biological information such as your Touch ID or Face ID information, and we shall not be responsible in any way in respect of the same.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.18hashpay does not support all existing tokens. Do not use hashpay to handle any non-supported tokens.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.19The DApps integrated into hashpay include those developed independently by us and those developed by third parties. hashpay only provides blockchain search and browser functions for those third-party-developed DApps, and thus hashpay does not offer any guarantee for functions or service qualities of those third-party-developed DApps. You shall, at your sole discretion, decide whether there would be any risks to accept the services provided by or to conduct transactions on the third-party-developed DApps.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.20The DEX functions of hashpay enables you to exchange digital Tokens via Smart Contracts (instead of hashpay) using distributed ledger technologies. As to services offered by the third-party-developed Smart Contracts, hashpay acts solely as a tool for you to interface with the third-party-developed Smart Contracts, and thus does not provide any guarantee for functions or service qualities of those Smart Contracts. Before accepting services of or conducting transactions on such third-party-developed Smart Contracts, you shall, at your sole discretion, decide the risks of services or transactions provided by such Smart Contracts. Prior to commencing relevant transactions, we strongly recommend that you to read the terms of use and/or disclaimer of the relevant Smart Contracts updated from time to time ). We reserve the right to terminate or suspend access to these third-party services immediately, without prior notice or liability, for any reason whatsoever.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.21The crypto currency hardware wallet integrated on hashpay is provided by third party and hashpay does not provide any guarantee for functions or service qualities of the third-party-developed crypto currency hardware wallet, and hashpay does not guarantee that hashpay can be matched with any kind and version of crypto currency hardware wallet (please see our notifications made from time to time). Before using third-party-developed crypto currency hardware wallet, you shall, at your sole discretion, decide and assess the risks of such crypto currency hardware wallet. You must carefully read and agree with terms of use etc of such crypto currency hardware wallet updated from time to time.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.22If you access any websites and any third-party-developed DApps not integrated on hashpay by entering URL under the developer mode, you acknowledge and agree that you understand the security risks of the websites and the third-party-developed DApps linked by such URL, and assume all risks and consequences independently.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
3.15.6rollback transactions.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
4.YOUR RIGHTS AND OBLIGATIONS
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.1Create or Import Wallet
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
4.1.1Create or import wallet. you are entitled to use hashpay on your mobile device to create and/or import wallet, set Wallet Password and use your wallet on hashpay to transfer and receive Tokens on blockchain.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.1.2Identification verification. Specific Users will be asked to complete identification verification before using hashpay to comply with related laws and regulations, according to the notification of hashpay. Specific Users may be asked to provide Personal Information including but not limited to name, identification card number, cell phone number, bank card information, etc., without which the Specific Users will not be able to use certain services and the Specific Users alone shall be responsible for the loss caused by their delay in completing the verification.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.1.3We may develop different versions of hashpay for different terminal devices. You shall download and install applicable version. If you download and install hashpay or other application with the same name as “hashpay” from any unauthorised third party, we cannot guarantee the normal operation or security of such application. Any loss caused by using such application shall be borne solely by you.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.1.4A previous version of hashpay may stop to operate after a new version is released. We cannot guarantee the security, continuous operation or customer services for the previous version. You shall download and use the latest version.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.1You shall bear sole responsibility to take care of your mobile devices, Wallet Password, Private Key, Mnemonic Words and Keystore. We do not store or hold the above information for you. You shall be solely responsible for any risks, liabilities, losses and expenses which result from frauds, you losing your mobile device or crypto currency hardware wallet, disclosing (whether actively or passively) or forgetting Wallet Password, Private Key, Mnemonic Words or Keystore, or your wallet being attacked.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.2hashpay Alerts. You understand and agree to comply with the Alert(s) published by us on hashpay. You shall be responsible for any risks, liabilities, losses and expenses which result from your failure to comply with any Alert(s).
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.3You understand that hashpay undertakes no responsibility to conduct due diligence on the Third-Party Service. You shall assess carefully and assume all risks in connection with the use of hashpay.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.4Provision of information and documents. To the extent that we determine, in our sole discretion, that it is necessary to obtain certain information about User in order to comply with any applicable law or regulation in connection with the use or operation of hashpay, you shall provide us with such information promptly upon such request, and acknowledges and accepts that we may restrict, suspend or terminate your use of hashpay until such requested information has been provided to our satisfaction. You undertake to notify us of any change in the documents and information provided by you to us pursuant to these Terms of Service and in the absence of any notification in writing notifying of any change, we are entitled to assume that the documents and information provided by you remain true, correct, not misleading and unchanged.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.5Complete identification verification. If we reasonably deems your operation or transactions to be abnormal, or considers your identification to be doubtful, or we consider it necessary to verify your identification documents or other necessary documents, you shall cooperate with us and provide your valid identification documents or other necessary documents and complete the identification verification in time.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.6.1You understand that you may be subject to daily limits on the amount and times of transfers according to your location, regulatory requirements, transferring purposes, risk control by hashpay, or identification verification.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.6.2You understand that blockchain operations are “irrevocable”. When you use hashpay to transfer Tokens, you shall be solely responsible for the consequences of your mishandling of the transfer (including but not limited to wrong address, problems of the node servers selected by you).
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
4.2.6.3You understand that the following reasons may result in a “transfer failed” or “mining overtime” prompt:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
insufficient balance in wallet;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
insufficient gas for transaction;
</p>


<p class="MsoNormal" style="text-indent:21.0pt">
blockchain’s failure to execute the code of smart contracts;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
the transfer amount exceeding the transfer limits imposed by authorities, hashpay or laws or regulations;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
technical failure of the network or equipment;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
abandoned transactions result from blockchain network congestion or failure;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
the wallet address of yours or your counterparty’s is identified as special addresses, such as high-risk address.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
4.2.6.4You understand that hashpay is only a tool for transfer of Tokens. We shall be deemed to have fulfilled its obligations once you have completed the transfer and shall not be held liable for any dispute in relation thereto.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.7DEX. You understand that the limits of amounts that you may exchange via DEX per day are subject to limitations of the third-party-developed Smart Contracts. We may also set limitations and adjust from time to time the limit of amounts that you can exchange via DEX per day.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.8Compliance. You understand that you shall abide by applicable laws, regulations and policies when you use hashpay or the DApps or the Smart Contracts on hashpay.
</p>


<p class="MsoNormal" style="text-indent:21.0pt">
4.2.9Notifications. hashpay may send notifications to you by web announcements, Notification Centre information, popup tips or client-end notices (e.g., information about your transfer or suggestions on certain operations) which you shall be aware of timely.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.10Service fees and taxes.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.10.1When you use DEX services, third-party-developed Smart Contracts may charge handling fees and/or service fees from you, which shall be subject to the fees collected by those Smart Contracts, and the relevant information displayed on hashpay is merely for your reference;
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
4.2.10.2We do not charge you any service fees or handling fees for the time being. We may reach an agreement with you or announce rules regarding service fees in the future;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.10.3You need to pay “gas” or network fees when you transfer Tokens, the amount of which would be on your sole discretion and would be collected by the relevant blockchain network;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.10.4You understand that your transfer of Tokens may fail under certain circumstances, including but not limited to insufficient “gas” or network fees paid by you for the transfer of Tokens during the time of your transfer, or the relevant blockchain network being unstable, and in such event, you may still be charged gas by the relevant blockchain network, notwithstanding the failed transfer attempted;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.2.10.5You shall bear all the applicable taxes and other expenses occurred due to your transactions on hashpay.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.3Developer Users’ Development Based on hashpay OSC
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.3.1Developer Users are entitled to use officially publicised hashpay OSC, conduct further development of programs, and download and use any patches or vulnerabilities solutions regarding hashpay OSC.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.3.2When using hashpay OSC, Developer Users acknowledge and agree that:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.3.2.1if Developer Users find any vulnerabilities, defects or software improvement solutions when using hashpay OSC, Developer Users shall promptly contact and inform us and discontinue any harmful use behavior (if applicable);
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
4.3.2.2hashpay OSC may contain third-party-developed Open Source License and source code and we do not provide any guarantee for functions, non-existence of virus or vulnerabilities etc of such third-party-developed Open Source License and source code. Developer Users shall, at their sole discretion, decide the consequences of using hashpay OSC. Developer Users shall carefully read and then agree with relevant Open Source License (including without limitation, Apache’s Open Source License: http://www.apache.org/licenses/LICENSE-2.0.html) and our notices updated from time to time.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
5RISKS
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.1You understand and acknowledge that the blockchain technology is a field of innovation where the laws and regulations are not fully established. You may be faced with material risks including instability of technology or failure for fiat-token exchange. You also understand that Tokens have much higher volatility comparing to other financial assets. You shall hold or dispose of the Tokens in a reasonable way and corresponding to your financial status and risk preferences. You also acknowledge that the market information is captured from exchanges by hashpay and may not represent the latest or the best quotation of each Token.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.2If you or your counterparty fails to comply with these Terms of Service or fails to follow the instructions, tips or rules on the website or on the page of the transaction or payment, we do not guarantee successful transfer of the Tokens and we shall not be held liable for any of the consequences of such failure. If you or your counterparty has already received the payment in hashpay wallet or third-party-developed wallet, you understand that transactions on blockchain are irreversible and irrevocable. You and your counterparty shall assume the liabilities and consequences of your transactions.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.3You understand and acknowledge that DEX transactions are commenced, conducted and concluded on third-party-developed Smart Contracts. hashpay is only an interface tool for you to interact with the third-party-developed Smart Contracts and displays relevant results of such completed transactions.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.4When you use Third-Party Service through hashpay, we strongly suggest you read the terms of service, privacy policy, and other relevant documents and information of such Third-Party Service carefully, get familiar with the counterparty and the product information and evaluate the risks before you make transactions on such third parties. You understand that such transactions and corresponding contractual relationship are between you and your counterparty, instead of us. We shall not be held liable for any risks, responsibilities, losses or expenses occurred due to such transactions.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.5When you transfer your tokens directly to another wallet address, it is your sole responsibility to make sure that your counterparty is a person with full capacity for civil acts and decide whether you shall transact with him/her.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.6You shall check the official blockchain system or other blockchain tools when you receive an Alert such as “transaction failed” or “mining overtime” in order to avoid repetitive transfer. If you fail to follow this instruction, you shall bear the losses and expenses occurred due to such repetitive transfer.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.7You understand that after you create or import wallet on hashpay, your Keystore, Private Key and Mnemonic Words are only stored on your mobile device and will not be stored in hashpay or on our servers. You may change another mobile device to use hashpay after you follow the instructions on hashpay to back up your wallet. If you lose your mobile device before you could write down or backup your Wallet Password, Private Key, Mnemonic Words or Keystore, you may lose your Tokens and we will not be able to recover them. If your Wallet Password, Private Key, Mnemonic Words or Keystore is disclosed or the device which stores or holds your Wallet Password, Private Key, Mnemonic Words or Keystore is hacked or attacked, you may lose your Tokens and we will not be able to recover them. Any and all losses arising in connection with the foregoing shall be borne solely by you.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.8We suggest you backup your Wallet Password, Private Key, Mnemonic Words and Keystore when you create or import wallet by writing them down on papers or backup them in password management apps. Please do not use electronic methods such as screenshots, e-mails, note-taking apps in cell phones, text messages, WeChat or QQ to backup any of the foregoing information.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.9When you choose and purchase crypto currency hardware wallet, we suggest that you should:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.9.1confirm whether your purchased crypto currency hardware wallet matches the hashpay version; 
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.9.2choose and purchase a brand-new crypto currency hardware wallet from official channels.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.10When using the function of Payment without Password of hashpay, we remind you to use such function carefully and before using the same, we suggest that you should:
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
5.10.1understand carefully the security level of biological identification function of your mobile device;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.10.2not turn on such function in a public phone; 
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.10.3not turn on such function in case of relatively large amount of crypto currency.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.11In order to avoid potential security risks, we suggest you use hashpay in a secured network environment. Please do not use a jailbreak or rooted mobile device.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
5.12Please be alert to frauds when you use hashpay. If you find any suspicious activity, we encourage you to inform us immediately.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.CHANGE, SUSPENSION, TERMINATION OF OUR SERVICES
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.1You acknowledge and accept that we may, at our sole discretion, provide only a part of the Services for the time being, suspend certain Services or provide new Services in the future. When we change our Services, your continuous use of hashpay is deemed as your acceptance of these Terms of Service and revisions of these Terms of Service.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.2In order to avoid (to the extent possible) any mishandling of hashpay or any risk to the security of your Tokens, you shall not use hashpay if you do not possess the basic knowledge of blockchain. If you do not possess basic knowledge of blockchain, we may refuse to provide all or part of the Services on hashpay to you.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.3You understand that we may suspend the Services under the following circumstances (or may completely terminate the Services in connection with any of the following circumstances):
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.3.1maintenance, upgrading, failure of equipment and blockchain system and the interruption of communications etc., which lead to the suspension of the operation of hashpay;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.3.2force majeure events including but not limited to typhoon, earthquake, tsunami, flood, power outage, war, or terrorist attacks, or computer viruses, trojan horse, hacker attacks, system instability or government behaviors and other reasons, which result in our inability to provide Services or if in our reasonable opinion, continuous provision of Services would result in significant risks;
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
6.3.3material adverse change of applicable laws or policies; 
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.3.4any other event(s) which we cannot control or reasonably predict.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4We reserve the right to unilaterally suspend or terminate all or part of the Services or any function of hashpay under the following circumstances:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.1death of users;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.2if you steal others’ wallets information or mobile devices;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.3if you provide false Personal Information on hashpay;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.4if you refuse to allow mandatory update of hashpay;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.5if you use hashpay OSC in breach of third-party-developed Open Source License or our notices;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.6if you use hashpay to commit illegal or criminal activities;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.7if you hinder the normal use of hashpay of other users;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.8if you pretend to be our staff or management personnel;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.9if you threaten our normal operations or computer system by attack, invasion, alternation or any other means;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.10if you use hashpay to send spam;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.11if you spread rumours which endanger our goodwill and hashpay;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.4.12if you conduct any illegal activities, breach these Terms of Service etc. or other circumstances under which we reasonably considers necessary to suspend Services.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
6.5You are entitled to export your wallets within a reasonable amount of time if we change, suspend or terminate our Services.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
7.YOUR REPRESENTATIONS AND WARRANTIES
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.1You shall comply with all applicable laws and regulations of the country or area you reside and/or are domiciled in. You shall not use hashpay for any unlawful purposes or by any unlawful means.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.2You are not an Excluded Person.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.3You shall not use hashpay to commit any illegal or unlawful activities, including but not limited to:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.3.1activities endangering national security of the country or area you reside in, disclosing state secrets, overturning the government or undermining national unity;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.3.2any illegal conducts, such as money laundering, illegal fund raising etc.;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.3.3accessing our services, collecting or processing the content provided by us, intervening or attempting to intervene any user, by the employment of any automated programs, software, network engines, web crawlers, web analytics tools, data mining tools or similar tools etc.;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.3.4providing gambling information or inducing others to engage in gambling;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.3.5invading into others’ hashpay wallets to steal Tokens;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.3.6engaging in any inaccurate or false transactions with the counterparty;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.3.7committing any activities which harms or attempts to harm hashpay service system and data;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.3.8other activities which we have reason to believe are inappropriate.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.4You understand and accept that you shall be responsible for any violation of law (including but not limited to the customs and/or tax regulations) or for breach of these Terms of Service by you and shall indemnify us against the losses, the third-party claims or administrative penalties against us incurred by such contravention, violation or breach, as well as reasonable legal and administrative costs, fees and expenses including reasonable attorney’s fees.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
7.5You confirm that you will pay the service fees charged by us in time (if applicable). We reserve the right to suspend the services when you fail to pay service fees (if applicable).
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
8.PRIVACY POLICY
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
Any personal data or information which you provide to us is also subject to our privacy policy (“hashpay Privacy Policy”), which is incorporated by reference into these Terms of Service.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.DISCLAIMER AND LIMITATION OF LIABILITY
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.1We only undertake obligations expressly set forth in these Terms of Service.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.2YOU ACKNOWLEDGE AND ACCEPT THAT, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, hashpay IS PROVIDED ON AN “AS IS”, “AS AVAILABLE” AND “WITH ALL FAULTS” BASIS. We shall not be held liable for malfunction of hashpay which results from any of the following reasons:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.2.1system maintenance or upgrading of hashpay;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.2.2force majeure, such as typhoon, earthquake, flood, lightning or terrorist attack etc.;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.2.3malfunction of your mobile device hardware and software, and failure of telecommunication lines and power supply lines;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.2.4your improper, unauthorised or unrecognised use of the Services;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.2.5computer viruses, trojan horse, malicious program attacks, network congestion, system instability, system or equipment failure, telecommunication failure, power failure, banking issues, government acts etc.;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.2.6any other reasons not imputed to us.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.3We shall not be held liable due to any of the following circumstances:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.3.1you losing your mobile devices, deleting hashpay applications and wallets without back-up, forgetting Wallet Passwords, Private Keys, Mnemonic Words, Keystores without back-up, which result in the loss of such User’s Tokens;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.3.2you disclosing your Wallet Passwords, Private Keys, Mnemonic Words, Keystores, or lending or transfering your hashpay wallets to others, or authorising others to use your mobile devices or hashpay wallets, or downloading hashpay applications through unofficial channels, or using hashpay applications by other insecure means, which result in the loss of your Tokens;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.3.3you mishandling hashpay (including but not limited to wrong address, failure of the node servers selected by you) , which result in the loss of Tokens;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.3.4you being unfamiliar with the lack of knowledge in relation to blockchain technology and your mishandling of hashpay resulting in loss of your Tokens;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.3.5hashpay being unable to copy accurate transaction records due to system delay or blockchain instability etc.;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.4You undertake the risks and consequences arising or in connection with the following:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.4.1your transactions when using Third-Party Service;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.4.2your use of developer mode;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.4.3your use of DEX services, which shall be assumed by you, your counterparty and issuers of relevant Smart Contracts.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.5You understand that hashpay is only a management tool for Tokens which is incapable to control the quality, security and legitimacy of the Third-Party Service, or the authenticity and accuracy of their information and their capabilities to fulfill the obligations under the agreements with you. You, at your sole discretion, decide whether to use the Third-Party Service. You understand that such transactions and corresponding contractual relationship are between you and your counterparty, instead of us. We kindly remind you to carefully review the authenticity, legitimacy, and effectiveness of related information provided by Third-Party Service before you decide to use them. In addition, you shall also assume all the risks arising from the transactions between you and any third-party-developed exchanges.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.6You acknowledge that hashpay may provide services to you and your counterparty simultaneously or may have affiliation or other interest relationship with foregoing parties, and you agree to waive any actual or potential conflicts of interests and will not claim against us on such base or burden us with more responsibilities or duty of care.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.7We do not warrant that:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.7.1services provided by us would satisfy all your needs;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.7.2all techniques, products, services, information or other materials from us would meet your expectations;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.7.3all the transaction information in digital Tokens markets captured from the third party exchanges are prompt, accurate, complete, and reliable;
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.7.4your counterparties on hashpay will perform their obligations in the transaction agreements with you timely.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
9.8In any case, our total liability under these Terms of Service shall not exceed the greater of:
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.8.10.1 ETH; 
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.8.2100 Singapore dollars.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.9You are aware that hashpay is only a tool for you to manage your Tokens and to display transaction information. We do not provide legal, tax or investment advice. You should seek independent advice from professional legal, tax, and investment advisors. In addition, we shall not be liable for any investment loss, data loss etc. during your use of our service.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
9.10You understand that we may change our entry standards, limit the range and ways to provide services for specific users etc. at any time in accordance with applicable laws and regulations.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.Miscellaneous
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.1No Assignment. Subject to these Terms of Service, only you and no other person shall have the right to any claim against us in connection with use of the Services. You shall not assign, trade or transfer, or attempt to assign, trade or transfer, your right to any such claim. Any such assignment or transfer shall be void and shall not impose any obligation or liability on or against us to the assignee or transferee.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.2Intellectual Property Rights. hashpay is an application developed and owned by us. The intellectual property rights of any contents displayed in hashpay (including these Terms of Service, announcements, articles, videos, audios, images, archives, information, materials, trademarks or logos) are owned by us or the third-party licensors. You can only use the hashpay applications and its contents for the purpose of holding and managing their Tokens. In particular, without prior written consent (or permit from relevant Open Source License) from us or the third-party licensors, no one shall use, modify, decompile, reproduce, publicly disseminate, alter, distribute, issue or publicly publish the abovementioned applications and contents (including hashpay OSC). These Terms of Service shall not entitle you to any intellectual property rights, including the rights in relation to the use, for any purpose, of any information, image, user interface, logos, trademarks, trade names, internet domain names or copyright in connection with us or the Services.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.3No Waiver. Any failure by us to enforce these Terms of Service or to assert any right(s), claim(s) or causes of action against you under these Terms of Service shall not be construed as a waiver of our right to assert any right(s), claim(s) or causes of action against you.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.4Entire Agreement. These Terms of Service includes this hashpay Terms of Service, hashpay Privacy Policy, and other rules (including contents in the “Support” column) posted by us from time to time. Save for hashpay Terms of Service, hashpay Privacy Policy which are incorporated in these Terms of Service, these Terms of Service contains the entire agreement and the understanding between us and supersedes all prior agreements, understandings or arrangements (both oral and written) in relation to the use of hashpay and the services in connection thereto.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.5Taxes
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.5.1The use of Services shall be exclusive of all taxes that are applicable to, arising from, or in connection to your use of the Services in any jurisdiction (“Payable Tax”).
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.5.2You shall be responsible for determining any Payable Tax and declaring, withholding, collecting, reporting and remitting the correct amount of Payable Tax to the appropriate tax authorities. You shall be solely liable for all penalties, claims, fines, punishments, or other liabilities arising from the non-fulfilment or non-performance to any extent of any of your obligations in relation to the Payable Tax.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.5.3We shall not be responsible for determining any Payable Tax and declaring, withholding, collecting, reporting and remitting the correct amount of Payable Tax to the appropriate tax authorities.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.6Governing Law. These Terms of Service shall be governed by and construed in accordance with the laws of the Republic of Singapore.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.7Jurisdiction. In the event of any dispute arising out of or in connection with these Terms of Service, including any question regarding its existence, validity or termination, the Parties shall first seek settlement of that dispute. In the event that such dispute is not resolved within a period of thirty (30) days from the commencement of such settlement process, such dispute shall be referred to and finally be resolved by arbitration in Singapore in accordance with the rules of the Singapore International Arbitration Centre (“SIAC”) for the time being in force, which rules are deemed to be incorporated by reference in this clause. The tribunal shall consist of a sole arbitrator to be appointed by the Chairman of the SIAC. The language of the arbitration shall be English. Each of the Parties irrevocably submits to the non-exclusive jurisdiction of the courts of Singapore to support and assist the arbitration process pursuant to the foregoing of this paragraph, including if necessary the grant of interlocutory relief pending the outcome of that process.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.8Contracts (Rights of Third Parties) Act. The Contracts (Rights of Third Parties) Act (Chapter 53B) of Republic of Singapore, as may be modified, amended or supplemented from time to time, shall apply to this. A person who is not a Party shall not have any rights whatsoever under these Terms of Service or to enforce these Terms of Service.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.9Severance. If any of part of these Terms of Service is rendered void, illegal or unenforceable by any legislation to which it is subject, it shall be rendered void, illegal or unenforceable to that extent and no further and, for the avoidance of doubt, the rest of these Terms of Service shall continue to be valid and in full force and effect.
</p>

<p class="MsoNormal" style="text-indent:21.0pt">
10.10Partial Invalidity. The illegality, invalidity or unenforceability of any provision of these Terms of Service under the law of any jurisdiction shall not affect its legality, validity or enforceability under the law of any other jurisdiction nor the legality, validity or enforceability of any other provision.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
10.11Translated versions of these Terms of Service. Translated versions of these Terms of Service (if any) are provided for your convenience, and are not intended to revise the English version of these Terms of Service. If there is any discrepancy between the English version and non-English version of these Terms of Service, the English version shall prevail.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
11.Others
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
11.1You shall fully understand and conform to the laws, regulations and rules in your jurisdictions which are relevant to use of the Services.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
11.2During your use of the Services, if you come across any problems, you can contact us through the submission of your feedbacks on hashpay.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
11.3These Terms of Service is accessible for all users on hashpay. We encourage you to read these Terms of Service each time you log onto hashpay.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
11.4As for any issues not covered in this Agreement, you shall comply with the announcements and relevant rules as updated by Company from time to time.
</p>
<p class="MsoNormal" style="text-indent:21.0pt">
11.5These Terms of Service shall become effective on 14 October 2021.
</p>





<p class="MsoNormal" align="right" style="text-align:center;text-indent:21.0pt;
mso-char-indent-count:2.0"><span lang="EN-US"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Hashpay
Wallet Foundation LTD.<o:p></o:p></span></p>


</div>
    </div>
</template>