<template>
     <div style="padding:0 20px 0 ;font-size:16px;">
             <div class="WordSection1" style="layout-grid:15.6pt">

<p class="MsoNormal" align="center" style="text-align:center;text-indent:32.0pt;
mso-char-indent-count:2.0"><span style="font-size:16.0pt">《<span lang="EN-US">Hashpay
Wallet</span>服务协议》<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" align="center" style="text-align:center;text-indent:21.0pt;
mso-char-indent-count:2.0">最近更新于：<span lang="EN-US">2021</span>年<span lang="EN-US">11</span>月<span lang="EN-US">12</span>日<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">尊敬的用户：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">感谢您选择<span lang="EN-US">Hashpay Wallet</span>服务。《<span lang="EN-US">Hashpay Wallet</span>服务协议》（以下简称“本协议”）由<span lang="EN-US">Hashpay Wallet Foundation Ltd</span>（以下简称“本公司”或“我们”）和用户（以下简称“您”或“用户”）签订，本协议在您与本公司之间具有合同上的法律效力。<span lang="EN-US" style="font-size:12.0pt"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">本公司在此特别提醒您在使用<span lang="EN-US">Hashpay Wallet</span>（以下简称“<span lang="EN-US">Hashpay Wallet</span>”或本软件，请认真阅读《<span lang="EN-US">Hashpay Wallet</span>服务协议》，尤其是本协议规定的“免责及责任限制”等条款，确保您充分理解本协议中各条款，并自主考虑风险。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">一、 关于本《服务协议》的确认与接纳<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">1.</span>您理解本《服务协议》及有关协议适用于<span lang="EN-US">Hashpay Wallet</span>及<span lang="EN-US">Hashpay Wallet</span>上本公司所自主开发和拥有的去中心化应用（简称“<span lang="EN-US">DApp</span>”）（排除第三方开发的<span lang="EN-US">DApp</span>）。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">2.</span>您下载<span lang="EN-US">Hashpay Wallet</span>软件并创建或导入钱包，即视为您已经充分阅读并接受本协议全部条款，本协议立即生效，对双方具有约束力。如果您不同意本《服务协议》条款，您必须立即停止使用<span lang="EN-US">hashpay</span>。如果您已经下载了<span lang="EN-US">hashpay</span>，请立即删除。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">3.</span>本协议可由本公司随时更新，经修改的协议一经在<span lang="EN-US">Hashpay Wallet</span>上公布，立即自动生效，恕不再另行通知。在本公司公布修改协议条款后，如果您不接受修改后的条款，请立即停止使用<span lang="EN-US">Hashpay Wallet</span>，您继续使用<span lang="EN-US">Hashpay Wallet</span>将被视为接受修改后的协议。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">4.</span>如果您未满<span lang="EN-US">18</span>周岁，或者是无民事行为能力人或限制民事行为能力人，请在父母或监护人指导下使用<span lang="EN-US">Hashpay Wallet</span>。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">二、 定义<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">1.</span>中国：指中华人民共和国，包含<span lang="EN-US">(1)</span>香港特别行政区、<span lang="EN-US">(2)</span>澳门特别行政区和<span lang="EN-US">(3)</span>台湾地区。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">2</span><span lang="EN-US" style="mso-fareast-language:ZH">.</span><span lang="EN-US">Hashpay Wallet</span>：指由本公司基于其他主流区块链系统开发的区块链钱包，包括其他为方便用户使用区块链系统而开发的辅助工具。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">3.</span>用户：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;&nbsp; A. </span>用户必须是具备完全民事行为能力的自然人；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;&nbsp; B. </span>若您为<span lang="EN-US">18</span>周岁以下的未成年人使用<span lang="EN-US">Hashpay Wallet</span>服务，需要在您父母或监护人的指导下使用<span lang="EN-US">Hashpay
Wallet</span>。无民事行为能力人使用<span lang="EN-US">Hashpay Wallet</span>或限制民事行为能力人超过其民事权利或行为能力范围从事交易的，造成的一切后果，<span lang="EN-US">Hashpay Wallet</span>有权要求您及您的父母或监护人负责。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:21.0pt;mso-char-indent-count:
2.0;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span lang="EN-US" style="mso-fareast-font-family:DengXian;mso-fareast-theme-font:minor-latin;
mso-bidi-font-family:DengXian;mso-bidi-theme-font:minor-latin"><span style="mso-list:Ignore">4.</span></span><!--[endif]-->被排除人士：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">1</span>）因本《服务协议》、法律、监管要求或适用于该用户的司法管辖区的规定而被以任何形式或方式（全部或部分）禁止、限制、无授权或无资格使用服务（如本《服务协议》所定义）的人。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">2</span>）为免疑义，居住在中国境内的居民和<span lang="EN-US">/</span>或定居在中国境内的用户亦涵盖在“被排除人士”的定义内。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">我们不向被排除人士提供服务。如果您是被排除人士，请立即停止使用我们的服务。如果您继续使用我们的服务，您承认并同意您将根据您居住的司法管辖区的适用法律、法规和规定承担所有相应的责任，并且您应使得我们免于承担因您的此类使用行为而引起的任何责任，包括但不限于因此类违反、违约、违法而对我们造成的损失、第三方索赔或行政处罚，以及合理的法律和行政成本、费用和开支，包括合理的律师费在内。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:21.0pt;mso-char-indent-count:
2.0;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span lang="EN-US" style="mso-fareast-font-family:DengXian;mso-fareast-theme-font:minor-latin;
mso-bidi-font-family:DengXian;mso-bidi-theme-font:minor-latin"><span style="mso-list:Ignore">5.</span></span><!--[endif]-->身份：指基于您的公私钥对生成的数字识别身份。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left:21.0pt;mso-para-margin-left:2.0gd"><span lang="EN-US">6.</span>新手指南：指在您使用<span lang="EN-US">Hashpay Wallet</span>之前（及在将来的使用过程中），我们为您提供的<span lang="EN-US">Hashpay Wallet</span>操作指南，以帮助您了解区块链的基础知识。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:15.75pt;mso-char-indent-count:1.5"><span lang="EN-US"><span style="mso-spacerun:yes">&nbsp;</span>7.&nbsp;</span>创建或导入钱包：指您使用<span lang="EN-US">Hashpay Wallet</span>，确认履行本协议并创建或导入钱包的过程。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">8.&nbsp;</span>钱包密码：指您在创建<span lang="EN-US">Hashpay Wallet</span>钱包过程中，软件操作界面提示您填写的密码，该密码用于加密保护私钥。作为去中心化的应用，钱包密码不存储在您的这台移动设备或本公司的服务器，一旦丢失你需要借助明文私钥或助记词重置新密码。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">9</span><span lang="EN-US" style="mso-fareast-language:ZH">.</span>信息提示：<span lang="EN-US">Hashpay Wallet</span>软件操作界面涉及的信息提示内容，建议用户按照相关步骤进行操作。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">10.</span>开发者用户：指按照我们的通知及相关开源协议规定使用<span lang="EN-US">Hashpay Wallet</span>开源代码和开发者模式等针对开发者提供的服务的用户。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">11</span><span lang="EN-US" style="mso-fareast-language:ZH">.</span>私钥：由<span lang="EN-US">256</span>位随机字符构成，是用户拥有并使用数字代币的核心。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">12.&nbsp;</span>公钥：由私钥借助密码学原理单向推导生成，并用以生成区块链数字钱包地址，数字钱包地址即为公开收款地址。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">13.&nbsp;</span>助记词：符合区块链<span lang="EN-US">BIP39</span>行业标准，由随机算法生成的<span lang="EN-US">12</span>（或<span lang="EN-US">15/18/21/24</span>）个有序单词组成。是私钥的易记录表现形式，方便您备份保管。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">14.&nbsp;Keystore: </span>是私钥或助记词经过用户设置的钱包密码加密保存的文件形式，它只存储在您的这台移动设备中，不会同步至本公司服务器。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">15.&nbsp;</span>数字代币：指<span lang="EN-US">Hashpay Wallet</span>目前支持的数字代币种类，包括但不限于<span lang="EN-US">BTC</span>、<span lang="EN-US">ETH</span>等。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">16.&nbsp;</span>第三方服务：指第三方<span lang="EN-US">DApp</span>、第三方<span lang="EN-US">DeFi</span>、第三方智能合约、第三方开源协议、第三方网页、第三方硬件钱包、第三方在线网页钱包、第三方交易所等第三方提供的产品和服务。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">17.</span>消息中心：指您可以接收我们发出的信息或通知的收件箱。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">18.</span>个人信息：指以电子或者其他方式记录的能够单独或者与其他信息结合识别用户个人身份的各种信息，包括但不限于个人生物识别信息、邮件地址、钱包地址、移动设备信息、操作记录、交易记录等，但不包括用户的钱包密码、私钥、助记词、<span lang="EN-US">Keystore</span>。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">19.</span>智能合约：指一种旨在以信息化方式传播、验证或执行合同的、基于<span lang="ZH" style="mso-fareast-language:ZH">区块链</span>的智能化合约。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">三、 服务内容<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">1.</span>创建或导入钱包。对<span lang="EN-US">Hashpay Wallet</span>支持的数字代币，您可以使用<span lang="EN-US">Hashpay Wallet</span>生成新钱包或导入相关区块链系统的其它钱包工具生成的兼容钱包。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">2.</span>转账、收款。您可以使用<span lang="EN-US">Hashpay Wallet</span>的转账、收款功能进行数字代币的管理，即运用私钥进行电子签名，对相关区块链的账本进行修改。转账是指付款方利用收款方的区块链地址进行转账操作，实际的转账、收款行为均在相关区块链系统（而非<span lang="EN-US">Hashpay Wallet</span>）发生。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">3.</span>管理数字资产。您可以使用<span lang="EN-US">Hashpay Wallet</span>添加、保管并移除<span lang="EN-US">Hashpay Wallet</span>所支持的数字代币。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">4.</span>浏览<span lang="EN-US">DApp</span>。用户通过在<span lang="EN-US">Hashpay
Wallet</span>上的链接，可以跳转至<span lang="EN-US">DApp</span>并使用该<span lang="EN-US">DApp</span>（包括本公司自己的<span lang="EN-US">DApp</span>和第三方<span lang="EN-US">DApp</span>）提供的服务。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">5.</span>交易记录。我们将通过区块链系统拷贝您全部或部分的交易记录。但交易记录以区块链系统的记载为准。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">6.</span>开发者模式。为方便开发者用户，在开发者模式下开发者用户可以通过搜索框键入<span lang="EN-US">URL</span>而访问任何其他网站和未在<span lang="EN-US">Hashpay Wallet</span>集成的第三方<span lang="EN-US">DApp</span>。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">7.</span>交易记录。我们将通过区块链系统拷贝您全部或部分的交易记录。但您应以区块链系统的最新交易记录为准。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">8.</span>暂停服务。您知悉，基于区块链系统交易“不可撤销”的属性，我们不能为您撤回或撤销交易操作，但在一定情况下，我们可以暂停或者限制某位用户对<span lang="EN-US">Hashpay Walletn</span>软件的操作。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">9.</span>其他本公司认为有必要提供的服务。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">四、 用户接受本公司提供的上述服务时应了解以下常见问题<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">1.</span>秉承着区块链的去中心化特点，并为了保护用户的数字代币安全，本公司提供的是去中心化服务，大大区别于银行业金融机构。用户了解本公司（去中心化方案）不提供以下服务：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left:21.0pt;mso-para-margin-left:2.0gd">（<span lang="EN-US">1</span>）存储用户的钱包密码（即<span lang="ZH" style="mso-fareast-language:ZH">您</span>创建<span lang="EN-US">/</span>导入钱包时设置的密码）、私钥、助记词、<span lang="EN-US">Keystore</span>；（<span lang="EN-US">2</span>）找回用户的钱包密码、私钥、助记词、<span lang="EN-US">Keystore</span>；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">3</span>）冻结钱包；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">4</span>）挂失钱包；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">5</span>）恢复钱包；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">6</span>）交易回滚。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">2. </span>由于本公司不提供上述服务，因此用户应当自行保管含有<span lang="EN-US">Hashpay Wallet</span>的移动设备、备份<span lang="EN-US">Hashpay Wallet</span>、备份钱包密码、助记词、私钥及<span lang="EN-US">Keystore</span>。如用户遗失移动设备、删除且未备份<span lang="EN-US">Hashpay Wallet</span>、删除且未备份钱包、钱包被盗或遗忘钱包密码、私钥、助记词、<span lang="EN-US">Keystore</span>，本公司均无法还原钱包或找回钱包密码、私钥、助记词、<span lang="EN-US">Keystore</span>；如用户进行交易时误操作（例如输错转账地址），本公司亦无法取消交易。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">3. </span>本公司和<span lang="EN-US">Hashpay Wallet</span>所能够提供的数字代币管理服务并未包括所有已存在的数字代币，请勿通过<span lang="EN-US">Hashpay Wallet</span>操作任何<span lang="EN-US">Hashpay Wallet</span>不支持的数字代币。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">4. Hashpay Wallet</span>仅是用户的数字代币管理工具，并非交易所或交易平台。虽然本协议将多次提及“交易”，其行为泛指用户使用。<span lang="EN-US">Hashpay Wallet</span>进行的转账和收款操作，这与交易所或交易平台上进行的“交易”有本质区别。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">5.Hashpay Wallet</span>上集成的<span lang="EN-US">DApp</span>包括本公司自主拥有的<span lang="EN-US">DApp</span>和第三方平台提供的<span lang="EN-US">DApp</span>。对于第三方平台提供的<span lang="EN-US">DApp</span>，<span lang="EN-US">Hashpay Wallet</span>仅为用户进入<span lang="EN-US">DApp</span>提供区块链浏览器。用户在第三方<span lang="EN-US">DApp</span>上接受服务或进行交易前应自行判断和评估该第三方<span lang="EN-US">DApp</span>提供的服务或交易是否存在风险。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">五、 您的权利义务<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">1.&nbsp;</span>创建或导入钱包<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:15.75pt;mso-char-indent-count:1.5">（<span lang="EN-US">1</span>）创建或导入钱包：您有权在您的移动设备上通过<span lang="EN-US">Hashpay Wallet</span>创建和<span lang="EN-US">/</span>或导入钱包，有权设定钱包的钱包密码等信息，并有权通过<span lang="EN-US">Hashpay Wallet</span>应用程序，使用自己的钱包在区块链上进行转账和收款等交易。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:15.75pt;mso-char-indent-count:1.5">（<span lang="EN-US">2</span>）本公司可能为不同的终端设备开发不同的软件版本，您应当根据实际需要选择下载合适的版本进行安装。如果您从未经合法授权的第三方获取本软件或与本软件名称相同的安装程序，本公司将无法保证该软件能否正常使用，也无法保证其安全性，因此造成的损失由您自行承担。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:15.75pt;mso-char-indent-count:1.5">（<span lang="EN-US">3</span>） 本软件新版本发布后，旧版软件可能无法使用。本公司不保证旧版软件的安全性、继续可用性及提供相应的客户服务。请您随时核对并下载最新版本。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">2.</span>使用：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:15.75pt;mso-char-indent-count:1.5">（<span lang="EN-US">1</span>）用户应自行妥善保管移动设备、钱包密码、私钥、助记词、<span lang="EN-US">Keystore</span>等信息。本公司不负责为用户保管以上信息。因您遗失移动设备、主动或被动泄露、遗忘钱包密码、私钥、助记词、<span lang="EN-US">Keystore</span>或遭受他人攻击、诈骗等所引起的一切风险、责任、损失、费用应由您自行承担。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:15.75pt;mso-char-indent-count:1.5">（<span lang="EN-US">2</span>） 遵循信息提示。您了解并同意遵循<span lang="EN-US">Hashpay Wallet</span>对您做出的信息提示，按照信息提示的内容进行操作，否则，由此引起的一切风险、责任、损失、费用等应由您自行承担。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:15.75pt;mso-char-indent-count:1.5">（<span lang="EN-US">3</span>） 您知悉并理解<span lang="EN-US">Hashpay Wallet</span>没有义务对链接的第三方<span lang="EN-US">DApp</span>服务或交易履行尽职调查义务，您应当理性做出投资决策并自主承担相应的投资风险。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">3.&nbsp;</span>转账：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:15.75pt;mso-char-indent-count:1.5">（<span lang="EN-US">1</span>）您理解基于区块链操作的“不可撤销”属性，当您使用<span lang="EN-US">Hashpay Wallet</span>转账功能时，您应当自行承担因您操作失误而导致的后果（包括但不限于因您输错转账地址、您自身选择转账节点服务器的问题）。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:15.75pt;mso-char-indent-count:1.5">（<span lang="EN-US">2</span>）您知悉在使用<span lang="EN-US">Hashpay Wallet</span>服务时，以下情况的出现可能导致转账“交易失败”或“打包超时”：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US"><span style="mso-spacerun:yes">&nbsp;</span>1) </span>钱包余额不足；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;2) </span>交易矿工费不足；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;3) </span>区块链执行合约代码失败；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;4) </span>超出规定的转账额度；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;5) </span>网络、设备等技术故障；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US"><span style="mso-spacerun:yes">&nbsp;</span>6) </span>区块链网络拥堵、故障等原因引起交易被抛弃；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:15.75pt;mso-char-indent-count:
1.5;mso-list:l1 level1 lfo2"><!--[if !supportLists]--><span lang="EN-US" style="mso-bidi-font-family:DengXian;mso-bidi-theme-font:minor-fareast"><span style="mso-list:Ignore">（3）</span></span><!--[endif]-->您知悉<span lang="EN-US">Hashpay
Wallet</span>仅向您提供转账工具，在您使用<span lang="EN-US">Hashpay Wallet</span>完成转账后，本公司即完成了当次服务的所有义务，本公司对其他纠纷争议，不负担任何义务。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">六、风险提示<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">1.</span>您了解并知悉，由于数字代币领域的法律法规政策尚未健全，该领域的数字代币可能会产生无法兑现、技术不稳定等重大风险。且数字代币的价格波动幅度远高于其他金融资产。我们谨慎提醒您应当根据自身财务状况和风险偏好，理性选择持有或处置任何一种数字代币。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">2.</span>在使用<span lang="EN-US">Hashpay Wallet</span>服务时，若您或您的相对方未遵从本协议或相关网站说明、交易、支付页面中之操作提示、规则，<span lang="EN-US">Hashpay Wallet</span>并不保证交易会顺利完成，且<span lang="EN-US">Hashpay Wallet</span>不承担损害赔偿责任。若发生前述情形，而款项已先行入账您的或您的交易方账号中。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">3.Hashpay Wallet</span>钱包或第三方钱包，您理解区块链操作具有的“不可逆”属性，以及相关交易具有“不可撤销”的特征，由您及您的相对方自行承担相应的风险后果。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">4.</span>在您使用<span lang="EN-US">Hashpay Wallet</span>集成的第三方<span lang="EN-US">DApp</span>服务或进行交易时，为了您的利益，本公司建议您仔细阅读本协议及<span lang="EN-US">Hashpay
Wallet</span>提示，了解交易对象及产品信息，谨慎评估风险后再采取行动。所有您在第三方<span lang="EN-US">DApp</span>进行的交易行为系您的个人行为，有约束力的合同关系在您和您的相对方之间建立，与<span lang="EN-US">Hashpay Wallet</span>无关。<span lang="EN-US">Hashpay Wallet</span>对因您的交易行为所引起的一切风险、责任、损失、费用不承担任何责任。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">5.</span>在转账过程中，如果出现“交易失败”、“打包超时”等类似的异常信息提示时，您应通过相关区块链系统的官方途径或其他的区块链查询工具进行再次确认，以避免重复转账；否则，由此所引起的一切损失和费用应由您自行承担。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">6.</span>您理解当您在<span lang="EN-US">Hashpay Wallet</span>上创建或导入钱包之后，您的<span lang="EN-US">Keystore</span>、私钥、助记词等信息仅存储在当前的这台移动设备中，不存储在<span lang="EN-US">Hashpay
Wallet</span>或本公司的服务器上。您可以按照<span lang="EN-US">Hashpay Wallet</span>提供的操作指南采取同步钱包等方式更换移动设备。但若您未保存或备份钱包密码、私钥、助记词、<span lang="EN-US">Keystore</span>等信息且在您移动设备丢失的情况下，您的数字代币将因此丢失，本公司无法为您找回，您需自行承担相应损失。若您在导出、保存或备份钱包密码、私钥、助记词、<span lang="EN-US">Keystore</span>等信息的时候泄密，或保存或备份上述信息的设备或服务器被黑客攻击或控制等情况下，您的数字代币将因此丢失，本公司无法为您找回，您需自行承担相应损失。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">7.</span>我们建议您在创建或导入钱包时对您钱包的钱包密码、私钥、助记词及<span lang="EN-US">Keystore</span>等信息做好安全备份。我们提请您注意，请不要采用以下备份方式：截图、邮件、记事本、短信、微信、<span lang="EN-US">QQ</span>等电子备份方式。我们建议您在纸质记事本上抄写助记词和<span lang="EN-US">Keystore</span>等信息，同时您亦可将电子数据保管至密码管理器。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">8.</span>我们建议您在安全的网络环境中使用<span lang="EN-US">Hashpay Wallet</span>，确保您的移动设备没有越狱或<span lang="EN-US">Root</span>，以避免可能存在的安全隐患。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">9.</span>您在使用我们的服务过程中，警惕非<span lang="EN-US">Hashpay Wallet</span>官方的诈骗行为。一旦发现此类行为，我们鼓励您第一时间告知我们。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">七、服务的变更、中断、终止<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">1.</span>您同意本公司为保证自主业务经营权可以暂时提供部分服务功能，或于将来暂停部分服务功能或开通新的服务功能。当任何功能减少或者增加或者变化时，只要您仍然使用本公司提供的服务，表示您仍然同意本协议或者本协议修正后的条款。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">2.</span>您理解存在如下情形时，本公司将暂停提供服务：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;</span>（<span lang="EN-US">1</span>）因设备、区块链系统维修、升级、故障和通信中断等技术原因而中断业务；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;</span>（<span lang="EN-US">2</span>）因台风、地震、海啸、洪水、停电、战争或恐怖袭击等不可抗力因素，病毒、木马、黑客攻击、系统不稳定或政府行为等原因，造成本公司系统不能提供服务或本公司合理认为继续提供服务会有较大风险的；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;</span>（<span lang="EN-US">3</span>）发生本公司无法控制或合理预见的其他情形。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;&nbsp; <o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">八、您合法使用本公司服务的承诺<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:31.5pt;mso-char-indent-count:3.0"><span lang="EN-US">1.</span>您应遵守您所居住的国家或地区的法律法规，不得将<span lang="EN-US">Hashpay Wallet</span>用于任何非法目的，也不得以任何非法方式使用本公司服务。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:31.5pt;mso-char-indent-count:3.0"><span lang="EN-US">2.</span>您不得利用<span lang="EN-US">Hashpay Wallet</span>从事违法或犯罪的行为，包括但不限于：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;</span>（<span lang="EN-US">1</span>）反对宪法所确定的基本原则，危害国家安全、泄漏国家秘密、颠覆国家政权、破坏国家统一的；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;</span>（<span lang="EN-US">2</span>）从事任何违法犯罪行为，包括但不限于洗钱、非法集资等；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;</span>（<span lang="EN-US">3</span>）通过使用任何自动化程序、软件、引擎、网络爬虫、网页分析工具、数据挖掘工具或类似工具，接入本公司服务、收集或处理本公司所提供的内容，干预或试图干预任何用户或任何其他方式接入本公司服务的行为；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;</span>（<span lang="EN-US">4</span>）提供赌博资讯或以任何方式引诱他人参与赌博；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;</span>（<span lang="EN-US">5</span>）侵入他人<span lang="EN-US">Hashpay Wallet</span>钱包盗取数字代币；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;</span>（<span lang="EN-US">6</span>）进行与交易对方宣称的交易内容不符的交易，或不真实的交易；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;</span>（<span lang="EN-US">7</span>）从事任何侵害或可能侵害<span lang="EN-US">Hashpay Wallet</span>服务系统、数据之行为；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">&nbsp;&nbsp;&nbsp;</span>（<span lang="EN-US">8</span>）其他违法以及本公司有正当理由认为不适当的行为。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:21.0pt;mso-char-indent-count:
2.0;mso-list:l2 level1 lfo3"><!--[if !supportLists]--><span lang="EN-US" style="mso-fareast-font-family:DengXian;mso-fareast-theme-font:minor-latin;
mso-bidi-font-family:DengXian;mso-bidi-theme-font:minor-latin"><span style="mso-list:Ignore">3.</span></span><!--[endif]-->您理解并同意，如因您违反有关法律（或者本协议之规定，使本公司遭受任何损失、受到任何第三方的索赔或任何行政管理部门的处罚，您应对本公司进行赔偿，包括合理的律师费用。
<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">九、隐私条款<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">本公司十分重视对用户隐私的保护，相关隐私保护政策请参考本公司公布并不时更新的《<span lang="EN-US">Hashpay Wallet</span>隐私政策》。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">十、免责及责任限制<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">1.</span>本公司仅对本协议中所列明的义务承担责任。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0;
tab-stops:1052.0pt"><span lang="EN-US">2.</span>您理解和同意，在法律所允许的范围内，本公司只能按照现有的技术水平和条件提供<span lang="EN-US">Hashpay Wallet</span>服务。因下列原因导致<span lang="EN-US">Hashpay Wallet</span>无法正常提供服务，本公司不承担责任：<span lang="EN-US"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">1</span>）<span lang="EN-US">Hashpay Wallet</span>系统停机维护或升级；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">2</span>）因台风、地震、洪水、雷电或恐怖袭击等不可抗力原因；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">3</span>）您的移动设备软硬件和通信线路、供电线路出现故障的；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">4</span>）您操作不当或未通过本公司授权或认可的方式使用本公司服务的；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">5</span>）因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行等原因或政府行为等原因；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">6</span>）非因本公司的原因而引起的任何其它原因。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">3</span><span lang="EN-US" style="mso-fareast-language:ZH">.</span>本公司对以下情形不承担责任：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">1</span>）因用户遗失移动设备、删除且未备份<span lang="EN-US">Hashpay Wallet</span>、删除且未备份钱包、钱包被盗或遗忘钱包密码、私钥、助记词、<span lang="EN-US">Keystore</span>而导致的数字代币丢失。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">2</span>）因用户自行泄露钱包密码、私钥、助记词、<span lang="EN-US">Keystore</span>，或借用、转让或授权他人使用自己的移动设备或<span lang="EN-US">Hashpay Wallet</span>钱包，或未通过本公司官方渠道下载<span lang="EN-US">Hashpay Wallet</span>应用程序或其他不安全的方式使用<span lang="EN-US">Hashpay Wallet</span>应用程序导致的数字代币丢失；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">3</span>）因用户误操作（包括但不限于您输错转账地址、您自身选择转账节点服务器的问题）导致的数字代币丢失；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">（<span lang="EN-US">4</span>）因用户不理解区块链技术的性质而进行误操作导致的数字代币丢失；<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">4.</span>由于用户个人原因及不可抗拒因素导致的资产丢失，均与本公司无关。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">5.</span>用户在第三方<span lang="EN-US">DApp</span>上操作产生的风险和后果。您理解<span lang="EN-US">Hashpay Wallet</span>仅作为您数字代币管理的工具。本公司不能控制第三方<span lang="EN-US">DApp</span>提供的产品及服务的质量、安全或合法性，信息的真实性或准确性，以及相对方履行其在与您签订的协议项下的各项义务的能力。所有您在第三方<span lang="EN-US">DApp</span>进行的交易行为系您的个人行为，有约束力的合同关系在您和您的相对方之间建立，与<span lang="EN-US">Hashpay
Wallet</span>无关。本公司提醒您应该通过自己的谨慎判断确定登录<span lang="EN-US">DApp</span>及相关信息的真实性、合法性和有效性。您与任何第三方交易所产生的风险亦应由您自行承担。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">十<span lang="ZH" style="mso-fareast-language:ZH">一</span>、 其他<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">1.</span>您需全面了解并遵守您所在司法辖区与使用本公司服务所有相关法律、法规及规则。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">2.</span>您在使用本公司服务过程中，如遇到任何问题，您可以通过在<span lang="EN-US">Hashpay Wallet</span>提交反馈等方式联系我们。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">3.</span>您可以在<span lang="EN-US">Hashpay Wallet</span>中查看本协议。 本公司鼓励您在每次访问<span lang="EN-US">Hashpay Wallet</span>时都查阅本公司的服务协议。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" align="right" style="text-align:right;text-indent:21.0pt;
mso-char-indent-count:2.0;word-break:break-all">本协议自<span lang="EN-US">2021</span>年<span lang="EN-US">10</span>月<span lang="EN-US">15</span>日起适用<span lang="EN-US"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></span></p>

<p class="MsoNormal" align="right" style="text-align:center;text-indent:21.0pt;
mso-char-indent-count:2.0"><span lang="EN-US"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Hashpay
Wallet Foundation LTD.<o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>

</div>
     </div>


</template>