<template>
     <div style="padding:0 20px 0 ;font-size:16px;">
             <div class="WordSection1" style="layout-grid:15.6pt">

<p class="MsoNormal" align="center" style="text-align:center;text-indent:32.0pt;
mso-char-indent-count:2.0"><span style="font-size:16.0pt">《<span lang="EN-US">Hashpay
Wallet</span>服务协议》<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" align="center" style="text-align:center;text-indent:21.0pt;
mso-char-indent-count:2.0">最近更新于：<span lang="EN-US">2021</span>年<span lang="EN-US">11</span>月<span lang="EN-US">12</span>日<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">尊敬的用户：<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
hashpay Pte. Ltd.（“我们”、或“我们的”）是一家领先的区块链软件开发公司，专注于利用去中心化技术为像您这样的个人（“您”或“您的”）提供可信的数字资产管理服务。我们托管一个顶级域名站：https://hashpay.pro，该网站提供有关hashpay和我们的产品的信息，以及我们产品的子域（“网站”）信息，其中包括文本、图像、音频、代码和其他材料或第三方信息。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
由于越来越多的诈骗者想方设法欺骗毫无戒心的受害者的数字资产，请您在每次访问我们的域名站时验证SSL证书。本《服务协议》（定义如下）仅适用于由Encryption Everywhere DV TLS CA发布的具备有效SSL证书的域名站：https://hashpay.pro。在从您正在访问的网站下载、点击或以其他方式与之交互之前，请确保SSL证书的真实性。为免疑义，我们无法控制任何第三方网站或服务的内容、隐私政策或行为，也不对其承担任何责任。对于因使用或依赖任何此类网站或服务上或通过此类网站或服务提供的任何此类内容、商品或服务而造成或声称造成的任何损害或损失，我们概不负责或承担任何直接或间接责任。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
本《服务协议》（“协议”或“服务协议”）包含管理您访问和使用我们提供的网站和服务（定义如下）的条款和条件，并且是我们与您或您所代表的实体之间的协议。在使用本网站或服务之前，请仔细阅读本《服务协议》。通过使用本网站，或单击按钮或复选框以接受或同意本《服务协议》的服务条款（如有该选项），或者填写服务订单，或者，如果更早，使用或以其他方式访问服务（“生效日期”），您(1)接受并同意本《服务协议》以及我们不时发布的任何附加条款、规则和参与条件，以及(2)同意如我们的《隐私政策》中所述的收集、使用、披露和其他处理信息的活动。如果您不同意本《服务协议》，则您不得访问或使用服务。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
我们在此特别提醒您在使用我们的hashpay移动应用（以下简称“hashpay”或“本软件”，hashpay可在各移动应用平台上下载，包括但不限于Google Play Store和Apple App Store）之前，请认真阅读本《服务协议》及本《服务协议》中提及的其他文件，尤其是本《服务协议》中“免责及责任限制”条款，确保您充分理解本《服务协议》中各条款，并自主考虑使用hashpay的风险。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
一、关于本《服务协议》的确认与接纳
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.您理解本《服务协议》及有关协议适用于hashpay及hashpay上我们所自主开发和拥有的去中心化应用（简称“DApp”）（排除第三方开发的DApp）。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.您下载hashpay软件并创建身份、恢复身份（定义见下文）或导入钱包，即视为您已经充分阅读并接受本《服务协议》全部条款，本《服务协议》立即生效，对双方具有约束力。如果您不同意本《服务协议》条款，您必须立即停止使用hashpay。如果您已经下载了hashpay，请立即删除。
</p>


<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.在访问或使用hashpay时, 您同意：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）接受本《服务协议》最新版本的约束（不变更亦不修改）；
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）在您所适用的司法管辖区域内，您已达到使用hashpay的法定年龄，并可承担因使用hashpay而产生的有约束力法律或金钱义务；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">

（3）您不属于被排除人士（如下文所定义）。
</P>


<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.本《服务协议》可由我们随时更新，经修改的《服务协议》一经在我们的网站上公布，立即自动生效，不再另行通知。在我们公布修改协议条款后，如果您不接受修改后的条款，请立即停止使用hashpay。</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
5.提请您关注，您在对本《服务条款》进行任何此类修改后使用hashpay即表示您接受这些修改后的《服务条款》。
</p>


<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">二、 定义<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US">1.</span>中国：指中华人民共和国，包含<span lang="EN-US">(1)</span>香港特别行政区、<span lang="EN-US">(2)</span>澳门特别行政区和<span lang="EN-US">(3)</span>台湾地区。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.hashpay：指由我们基于分布式账本技术开发的多币种数字钱包，包括其他为方便您使用区块链系统而开发的辅助工具。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.被排除人士：</p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:21.0pt;">
（1）除了自然人以外的、具备订立本《服务协议》的法律和意识能力的人士；
</p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:21.0pt;">
（2）因本《服务协议》、法律、监管要求或适用于该用户的司法管辖区的规定而被以任何形式或方式（全部或部分）禁止、限制、无授权或无资格使用服务（如本《服务协议》所定义）的人。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）为免疑义，居住在中国境内的居民和/或定居在中国境内的用户亦涵盖在“被排除人士”的定义内。
</p>


<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
我们不向被排除人士提供服务。如果您是被排除人士，请立即停止使用我们的服务。如果您继续使用我们的服务，您承认并同意您将根据您居住的司法管辖区的适用法律、法规和规定承担所有相应的责任，并且您应使得我们免于承担因您的此类使用行为而引起的任何责任，包括但不限于因此类违反、违约、违法而对我们造成的损失、第三方索赔或行政处罚，以及合理的法律和行政成本、费用和开支，包括合理的律师费在内。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">

4.身份：指基于您的公私钥对生成的数字识别身份。</p>


<p class="MsoNormal" style="margin-left:21.0pt;mso-para-margin-left:2.0gd"><span lang="EN-US">5.</span>新手指南：指在您使用<span lang="EN-US">Hashpay Wallet</span>之前（及在将来的使用过程中），我们为您提供的<span lang="EN-US">Hashpay Wallet</span>操作指南，以帮助您了解区块链的基础知识。<span lang="EN-US"><o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
6.创建或导入钱包：指在您接受本《服务协议》后，使用hashpay创建或导入钱包的过程。</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
7.钱包密码：指您在创建hashpay钱包过程中，由您决定的密码，该密码将被用于加密和保护您的私钥。hashpay作为去中心化的应用，钱包密码不存储在您的这台移动设备或我们的服务器，一旦您丢失或忘记钱包密码，您需要借助私钥或助记词重置钱包密码。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
8.信息提示：hashpay软件操作界面涉及的信息提示内容，建议您按照相关步骤进行操作。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
9.特定用户：指按照新加坡和其他国家的法律法规及政策规定必须要配合我们履行个人信息披露义务的用户。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
10.开发者用户：指按照我们的通知及相关开源协议规定使用hashpay开源代码和开发者模式等针对开发者提供的服务的用户。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
11.私钥：由256位随机字符构成，是用户拥有并使用数字代币的核心。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
12.公钥：由私钥借助密码学原理单向推导生成，并用以生成区块链数字钱包地址，数字钱包地址即为公开收款地址。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
13.助记词：符合区块链BIP39行业标准，由随机算法生成的12（或15/18/21/24）个有序单词组成。是私钥的易记录表现形式，方便您备份保管。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
14.Keystore: 是私钥或助记词经过您设置的钱包密码加密保存的文件形式，它只存储在您的这台移动设备中，不会同步至我们的服务器。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
15.数字代币：指hashpay目前支持的数字代币种类，包括但不限于BTC、ETH等。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
16.资料：指hashpay上“浏览”、“市场”等版块的文章等资料，这些资料均为第三方所有，未经授权不得转载。这些资料仅供您参考，并不构成我们对您交易的指导或建议。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
17.消息中心：指您可以接收我们发出的信息或通知的收件箱。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
18.个人信息：指以电子或者其他方式记录的能够单独或者与其他信息结合识别用户个人身份的各种信息，包括但不限于个人生物识别信息、邮件地址、钱包地址、移动设备信息、操作记录、交易记录等，但不包括用户的钱包密码、私钥、助记词、Keystore。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
19.智能合约：指一种旨在以信息化方式传播、验证或执行合同的、基于以太坊的智能化合约，包括但不限于后文提及Tokenlon智能合约。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">

20.WETH：指以太币代币化，因为以太币不符合自己的ERC20标准，包装以太币代币化，方便以太币直接与其他代币交易。hashpay所支持代币与WETH的兑换比率由第三方智能合约决定。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
21.ETH：指以太币，是与以太坊区块链相关的加密数字代币，为避免疑问，其不包括“以太坊经典”。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
22.hashpay开源代码（“hashpay OSC”）：指我们公开宣布开源的部分hashpay软件代码，允许开发者用户在遵循相关开源协议及我们通知的规定下使用（包括二次开发）该部分开源代码。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
23.开源协议：指开发者用户使用hashpay开源代码所应遵循的第三方开源协议。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
24.第三方服务：指第三方DApp、第三方智能合约、第三方开源协议、第三方硬件钱包、第三方网页、第三方交易所等第三方提供的产品和服务。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
三、hashpay服务（统称“服务”）
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.创建和恢复身份。您可以使用hashpay提供的“创
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.导入钱包。对hashpay支持的数字代币，您可以使用hashpay生成新钱包或导入相关区块链系统的其它钱包工具生成的兼容钱包。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.转账、收款。您可以使用hashpay的转账、收款功能进行数字代币的管理，即运用私钥进行电子签名，对相关区块链的账本进行修改。转账是指付款方利用收款方的ENS域名或区块链地址进行转账操作，该“转账”行为涉及在相关区块链系统的分布式账本中对该交易的有效记录（而非在hashpay上实际交付或转让数字代币）。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.行情查看。您可以使用hashpay查看第三方提供的数字代币汇率价格。hashpay通过抓取相应的数字代币汇率信息并展示在hashpay中的“市场”版块。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
5.管理数字代币。您可以从hashpay操作界面添加、保管或移除hashpay所支持的数字代币（ETH、BTC除外）。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
6.币币兑换（DEX）。您可以与使用第三方Tokenlon智能合约的第三方进行数字代币兑换，由hashpay作为界面工具帮助您和第三方智能合约交互并显示该数字代币兑换的相应结果。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
7.浏览DApp。您通过hashpay访问并使用该DApp（包括我们自己的DApp和第三方DApp）提供的服务。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
8.搜索DApp。您通过hashpay上的搜索框，可以对已在hashpay罗列的DApp进行搜索。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
9.集成硬件钱包。您可以使用合适版本的hashpay与特定的硬件钱包进行匹配，并利用硬件钱包确认通过hashpay所进行的交易
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">

10.免密支付。您可以使用hashpay中的免密支付功能，免密支付将用户钱包密码通过安全加密算法存储至您的手机设备的Keychain/Keystore中，交易时调用您的生物识别（指纹或面容）鉴权，快速完成支付与签名。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">

11.开发者模式。为方便开发者用户，在开发者模式下开发者用户可以通过搜索框键入URL而访问任何其他网站和未在hashpay集成的第三方DApp。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
12.交易记录。我们将通过区块链系统拷贝您全部或部分的交易记录。但您应以区块链系统的最新交易记录为准。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
13.暂停服务。您知悉，基于区块链系统交易“不可撤销”的属性，我们不能为您撤回或撤销交易操作，但在一定情况下，我们可以暂停或者限制某位用户对hashpay软件的操作。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
14.其他我们认为有必要提供的服务。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
用户使用hashpay时了解并接受：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">

1.秉承着区块链的去中心化特点，并为了保护您数字代币安全，我们提供的是去中心化服务，大大区别于银行业金融机构。您了解并接受，我们不承担以下责任：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）存储您的钱包密码（即您创建/导入钱包时设置的密码）、私钥、助记词或Keystore；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）找回您的钱包密码、私钥、助记词或Keystore；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）冻结钱包；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（4）挂失钱包；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（5）恢复钱包；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（6）交易回滚。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.您应当自行承担保管含有hashpay的移动设备、备份hashpay、备份钱包密码、助记词、私钥及Keystore的责任。如您遗失移动设备、删除且未备份hashpay、删除且未备份钱包、钱包被盗或遗忘钱包密码、私钥、助记词或Keystore，我们均无法还原钱包或找回钱包密码、私钥、助记词或Keystore；如用户进行交易时误操作（例如输错转账地址、输错兑换数额），我们无法取消交易，且我们亦不应对此承担任何责任。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.如您使用hashpay的免密支付功能，请您妥善备份钱包密码。当您的指纹或面容识别多次验证失败之后，您将需要输入自己的钱包密码。如果您遗忘钱包密码的，您需要通过导入助记词/私钥的方式，设置新的钱包密码。我们不存储您的指纹、面容识别等生物信息，且我们亦不应对此承担任何责任。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.hashpay所能够提供的数字代币管理服务并未包括所有已存在的数字代币，请勿通过hashpay操作任何hashpay不支持的数字代币。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
5.hashpay上集成的DApp包括我们自主拥有的DApp和第三方平台提供的DApp。对于第三方平台提供的DApp，hashpay仅为用户进入DApp提供搜索和区块链浏览器功能，不对第三方DApp的功能或服务质量提供任何担保。您在第三方DApp上接受服务或进行交易前应自行判断和评估该第三方DApp提供的服务或交易是否存在风险。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
6.hashpay上提供的币币兑换功能的实质是您使用第三方智能合约在区块链系统上进行的数字代币兑换。对于第三方智能合约提供的服务，hashpay仅为您提供与第三方智能合约交互的工具，不对第三方智能合约的功能或服务质量提供任何担保。您在该第三方智能合约上接受服务或进行交易前应自行判断和评估该第三方智能合约提供的服务或交易是否存在风险。我们强烈建议您阅读相关智能合约的不断更新的用户协议和/或免责声明。我们保留出于任何原因立即终止或暂停访问这些第三方服务的权利，恕不另行通知或承担责任。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
7.hashpay上集成的硬件钱包由第三方提供，hashpay不对第三方硬件钱包的功能或服务质量提供任何担保，且hashpay不保证实现与任何种类和版本的硬件钱包之间的匹配功能（具体请以我们不时作出的通知为准）。用户在使用第三方硬件钱包之前应自行判断和评估该硬件钱包是否存在风险。您应仔细阅读并同意相关硬件钱包的不断更新的使用许可协议等文件。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
8.您在hashpay上使用开发者模式通过输入URL访问其他网站或未在hashpay集成的第三方DApps的，您知悉并同意您了解URL链接的网站和第三方DApps可能存在的安全隐患，并独立承担所有的风险和后果。
</p>


<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
四、您的权利义务
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（一）创建或导入钱包
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.创建或导入钱包。您有权在您的移动设备上通过hashpay创建和/或导入钱包，有权设定钱包的钱包密码等信息，并有权通过hashpay应用程序，使用自己的钱包在区块链上进行转账和收款等交易。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.身份验证。按照有关法律法规的要求，特定用户在使用hashpay提供的有关服务时，应当按照hashpay的提示及时完成相关身份验证，要求您提交包括但不限于您的姓名、身份证号码、手机号码、银行卡号信息等个人信息。否则该特定用户将无法使用有关服务，因特定用户拖延造成的损失由您自行承担。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.我们可能为不同的终端设备开发不同的软件版本，您应当根据实际需要选择下载合适的版本进行安装。如果您从未经合法授权的第三方获取本软件或与本软件名称相同的安装程序，我们将无法保证该软件能否正常使用，也无法保证其安全性，因此造成的损失由您自行承担。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.本软件新版本发布后，旧版软件可能无法使用。我们不保证旧版软件的安全性、继续可用性及提供相应的客户服务。请您随时核对并下载最新版本。
</p>


<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（二）使用hashpay
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.您应自行承担妥善保管移动设备、钱包密码、私钥、助记词和Keystore等信息的责任。我们不负责为您保管以上信息。因您遗失移动设备或硬件钱包、主动或被动泄露、遗忘钱包密码、私钥、助记词、Keystore或遭受他人攻击、诈骗等所引起的一切风险、责任、损失、费用应由您自行承担。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.hashpay信息提示。您了解并同意遵循我们在hashpay上发布的信息提示，按照信息提示的内容进行操作，否则，由此引起的一切风险、责任、损失、费用等应由您自行承担。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.您知悉并理解hashpay没有义务对第三方服务履行尽职调查义务，您应当谨慎评估并承担所有与使用hashpay有关的风险。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.提供信息和文件。如果我们自行认为有必要获取用户的相关信息以遵循任何与使用或操作hashpay相关的适用法律或法规的规定，您应按照我们的要求及时向我们提供该等信息，且您了解并接受，我们可以限制、暂停或终止您使用hashpay直到您提供满足我们要求的信息。您承诺及时向我们告知任何有关其依据本《服务协议》向我们提供的文件和信息中的任何变化，且在没有通知任何变化的书面通知的情形下，我们有权认为由您提供的文件和信息的内容是真实、正确、没有误导信息且没有发生改变的。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
5.完成身份验证。当我们合理认为您的交易行为或交易情况出现异常的，或认为您的身份信息存在疑点的，或我们认为应核对您身份证件或其他必要文件的情形时，请您积极配合我们核对您的有效身份证件或其他必要文件，及时完成相关的身份验证。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
6.转账。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）您知悉对于hashpay服务中您可使用的日计转账限额和笔数，可能因为您使用该转账服务时所处的国家/地区、监管要求、转账目的、hashpay风险控制、身份验证等事由而不同。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）您理解基于区块链操作的“不可撤销”属性，当您使用hashpay转账功能时，您应当自行承担因您操作失误而导致的后果（包括但不限于因您输错转账地址、您自身选择转账节点服务器的问题）。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）您知悉在使用hashpay服务时，以下情况的出现可能导致转账功能不可用、转账“交易失败”或“打包超时”：
</p>
<p class="MsoNormal"  style="text-indent:50pt;mso-char-indent-count:2.0"">
 a)钱包余额不足；
</p>
<p class="MsoNormal"  style="text-indent:50pt;mso-char-indent-count:2.0"">
b)交易矿工费不足；
</p>
<p class="MsoNormal"  style="text-indent:50pt;mso-char-indent-count:2.0"">
c)区块链执行智能合约代码失败；
</p>
<p class="MsoNormal"  style="text-indent:50pt;mso-char-indent-count:2.0"">
d)超出监管部门、hashpay或法律法规规定的付款额度；
</p>
<p class="MsoNormal"  style="text-indent:50pt;mso-char-indent-count:2.0"">
e)网络、设备等技术故障；
</p>
<p class="MsoNormal"  style="text-indent:50pt;mso-char-indent-count:2.0"">
f)区块链网络拥堵、故障等原因引起交易被抛弃；
</p>
<p class="MsoNormal"  style="text-indent:50pt;mso-char-indent-count:2.0"">
 g)您的地址或交易对方地址被识别为特殊地址，如高风险地址。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（4）您知悉hashpay仅向您提供转账工具，在您使用hashpay完成转账后，我们即完成了当次服务的所有义务，我们对其他相关纠纷争议，不承担任何责任。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
7.币币兑换。您知悉，币币兑换的每日限额目前由第三方智能合约限定。我们亦可能对您每日可币币兑换的额度进行限制并不时调整。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
8.合法合规。您知悉在hashpay进行操作时或利用hashpay上的DApp、智能合约进行交易时，您应当遵循有关法律法规、国家政策的要求。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
9.公告通知。hashpay会以网站公告、消息中心信息、弹窗提示或客户端通知等方式向您发送通知，例如通知您交易进展情况，或者提示您进行相关操作，请您及时予以关注。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
10.服务费用与纳税义务：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）您使用hashpay的币币兑换服务时，第三方智能合约会向您收取手续费和/或服务费，具体费用以第三方智能合约收取数额为准，hashpay信息提示仅供参考；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）我们暂时不向您收取任何形式的服务费或手续费，将来需对某些服务进行收费时我们将另行约定或公布规则；
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）您使用hashpay进行转账时应支付“矿工费”或网络费，金额由您自行决定，并由相关区块链网络收取；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（4）您知悉，在特定情况（包括但不限于您在转账期间为转账支付的“矿工费”或网络费不足，或相关区块链网络不稳定）下，您的转账操作可能失败；在该等情况下，即便您的转账操作未完成，您亦会被相关区块链网络收取矿工费；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（5）您因在hashpay进行交易而发生的所有应纳税负及其它方面的费用均由您负责支付。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（三）开发者用户基于hashpay开源代码的开发
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.开发者用户有权使用我们在官方渠道公布的hashpay开源代码进行应用程序的二次开发，并下载和使用我们针对hashpay开源代码发布的任何补丁或漏洞解决方案。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.在使用hashpay开源代码时，开发者用户知悉并同意：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）如开发者用户在使用hashpay开源代码过程中发现任何漏洞、缺陷或软件改进方案的，应及时联系并告知我们，同时停止任何具有危害性的使用行为（如适用）；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）hashpay开源代码中可能包含第三方开源协议和源代码，我们不对该等第三方开源协议和源代码的功能、无病毒危害、无漏洞等提供任何形式的担保。开发者用户在使用hashpay开源代码时应自行判断和评估使用后果。开发者用户应仔细阅读并遵循相关开源软件协议（包括但不限于Apache协议http://www.apache.org/licenses/LICENSE-2.0.html）及我们不时作出的通知的要求。
</p>


<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
五、风险提示
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.您了解并知悉，由于数字代币领域的法律法规政策尚未健全，该领域的数字代币可能会产生无法兑现、技术不稳定等重大风险。您也了解数字代币的价格波动幅度远高于其他金融资产。我们谨慎提醒您应当根据自身财务状况和风险偏好，以合理的方式选择持有或处置任何一种数字代币。您也了解hashpay提供的行情查看功能仅系抓取部分交易所的数字代币汇率信息的搜索结果，并不表示为最新行情或最佳报价。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.在使用hashpay服务时，若您或您的相对方未遵从本《服务协议》或相关网站说明、交易、支付页面中之操作提示、规则，我们并不保证交易会顺利完成，且我们不承担损害赔偿责任。若发生前述情形，而款项已先行入账您的或您的交易方的hashpay钱包或第三方钱包，您理解区块链操作具有的“不可逆”属性，以及相关交易具有“不可撤销”的特征，由您及您的相对方自行承担相应的风险后果。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.您理解并知悉，币币兑换交易均在第三方智能合约上发生、进行并完成。hashpay仅作为界面工具帮助您和第三方智能合约交互并显示该已完成交易的相应结果。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.在您通过hashpay使用第三方服务时，我们强烈建议您仔细阅读该等第三方服务的服务协议、隐私政策和其他相关的文件和信息等，了解交易对象及产品信息，谨慎评估风险后再在该第三方上进行交易。您理解该交易和有约束力的合同关系在您和您的相对方之间建立，与我们无关。我们对因您的交易行为所引起的一切风险、责任、损失、费用不承担任何责任。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
5.当您将数字代币转给其他钱包地址时，您在交易过程中应当自行判断对方是否为完全民事行为能力人并自行决定是否与对方进行交易或转账给对方等。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
6.在转账过程中，如果出现“交易失败”、“打包超时”等类似的异常信息提示时，您应通过相关区块链系统的官方途径或其他的区块链查询工具进行再次确认，以避免重复转账；否则，由此所引起的一切损失和费用应由您自行承担。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
7.您理解当您在hashpay上创建或导入钱包之后，您的Keystore、私钥、助记词等信息仅存储在当前的这台移动设备中，不存储在hashpay或我们的服务器上。您可以按照hashpay提供的操作指南采取同步钱包等方式更换移动设备。但若您未保存或备份钱包密码、私钥、助记词、Keystore等信息且在您移动设备丢失的情况下，您的数字代币将因此丢失，我们无法为您找回。若您在导出、保存或备份钱包密码、私钥、助记词、Keystore等信息的时候泄密，或保存或备份上述信息的设备或服务器被黑客攻击或控制等情况下，您的数字代币将因此丢失，我们无法为您找回。因前述情形产生的任何及所有损失应由您自行承担。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
8.我们建议您在创建或导入钱包时对您钱包的钱包密码、私钥、助记词及Keystore等信息做好安全备份。我们提请您注意，请不要采用以下电子备份方式：截图、邮件、手机中的记事本应用、短信、微信、QQ等电子备份方式。我们建议您在纸质记事本上抄写助记词和Keystore等信息，同时您亦可将电子数据保管至密码管理器。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
9.我们建议您在选购硬件钱包时应：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）确认您购买的硬件钱包是否与hashpay版本相匹配；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）从官方渠道选购全新的硬件钱包。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
10.我们善意提醒您谨慎使用hashpay的免密支付功能，建议您在使用前应：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）仔细了解您手机设备生物识别的安全等级；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）请勿在公共手机中开启免密支付功能；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）如果钱包中的数字资产较大，请勿开启免密支付功能。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
11.我们建议您在安全的网络环境中使用hashpay，确保您的移动设备没有越狱或root， 以避免可能存在的安全隐患。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
12.请您在使用hashpay过程中，警惕诈骗行为。一旦发现任何可疑行为，我们鼓励您第一时间告知我们。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
六、服务的变更、中断、终止
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.您了解并同意我们可以自行决定暂时提供部分服务功能，或于将来暂停部分服务功能或开通新的服务功能。当我们改变服务时，只要您仍然使用hashpay，表示您仍然同意本《服务协议》或者本《服务协议》修正后的条款。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.为了尽可能避免任何对hashpay的误操作或数字代币的任何安全风险，您应避免在不具备区块链基础知识的前提下使用hashpay。对不具备区块链基础知识的用户，我们有权拒绝提供部分或全部的服务功能。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.您理解存在如下情形时，我们将暂停提供服务（或在发生如下情形时彻底终止服务）：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）因设备、区块链系统维修、升级、故障和通信中断等技术原因而中断hashpay的运营；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）因台风、地震、海啸、洪水、停电、战争或恐怖袭击等不可抗力因素，电脑病毒、木马、黑客攻击、系统不稳定或政府行为等原因，造成我们不能提供服务或我们合理认为继续提供服务会有较大风险的；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）适用法律或政策发生重大不利变化的；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（4）发生我们无法控制或合理预见的其他情形。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.当用户出现如下情况时，我们可单方面中止或终止您使用hashpay的部分或全部功能:
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）用户死亡；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）盗用他人的钱包信息或移动设备；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）在hashpay填写虚假个人信息；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（4）拒绝hashpay的强制更新操作；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（5）违反第三方开源协议或我们通知的规定使用hashpay开源代码；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（6）将hashpay用于违法或犯罪活动；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（7）妨碍其他用户正常使用hashpay；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（8）伪称我们的工作人员或管理人员；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（9）攻击、侵入、更改或以任何其他方式威胁我们计算机系统的正常运作；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（10）利用hashpay宣传垃圾广告；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（11）散布谣言，损害我们和hashpay商誉；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（12）违法行为，其他违反本《服务协议》的行为，及我们合理认为应当暂停功能的情形。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
5.如果我们变更、中断、终止服务时，您有权在合理时间内导出您钱包等信息。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
七、您的陈述与保证
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.您应遵守您所居住的国家或地区的法律法规，不得将hashpay用于任何非法目的，也不得以任何非法方式使用hashpay。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.您不属于无资格使用hashpay服务的被排除人士。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.您不得利用hashpay从事任何违法或犯罪的行为，包括但不限于：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）危害您所居住的国家或地区的国家安全、泄漏国家秘密、颠覆国家政权、破坏国家统一；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）从事任何违法犯罪行为，包括但不限于洗钱、非法集资等；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）通过使用任何自动化程序、软件、引擎、网络爬虫、网页分析工具、数据挖掘工具或类似工具等，接入我们的服务、收集或处理我们所提供的内容，干预或试图干预任何用户；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（4）提供赌博资讯或以任何方式引诱他人参与赌博；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（5）侵入他人hashpay钱包盗取数字代币；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（6）进行与交易对方宣称的交易内容不符的交易，或不真实的交易；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（7）从事任何侵害或可能侵害hashpay服务系统、数据的行为；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（8）其他我们有正当理由认为不适当的行为。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.您理解并同意，您将对您违反有关法律（包括但不限于海关及/或税务方面的监管规定）或者本《服务协议》之规定的行为负责，并应对因此类违反、违约、违法而使我们遭受任何的损失、第三方索赔或行政处罚进行赔偿，包括合理的法律和行政成本、费用和支出，以及合理的律师费用。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
5.您承诺按时缴纳我们的服务费用（如有），否则我们有权暂停对您提供的服务。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
八、隐私政策
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.您提供给我们的任何数据或信息亦受我们隐私政策（“《hashpay隐私政策》”的约束，该隐私政策亦是本《服务协议》的一部分。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
九、免责及责任限制
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.我们仅对本《服务协议》中所列明的义务承担责任
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.您理解和同意，在法律所允许的最大范围内，我们只能按照现有的技术水平和条件提供hashpay服务。因下列任何原因导致hashpay无法正常提供服务，我们不承担责任：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）hashpay系统停机维护或升级；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）因台风、地震、洪水、雷电或恐怖袭击等不可抗力原因；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）您的移动设备软硬件和通信线路、供电线路出现故障的；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（4）您操作不当或未通过我们授权或认可的方式使用我们服务的；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（5）因电脑病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行或政府行为等原因；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（6）非因我们的原因而引起的任何其它原因。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.我们对以下任何情形均不承担责任：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）因您遗失移动设备、删除且未备份hashpay、删除且未备份钱包、遗忘且未备份钱包密码、私钥、助记词、Keystore而导致该用户的数字代币丢失；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）因您自行泄露钱包密码、私钥、助记词、Keystore，或借用、转让或授权他人使用自己的移动设备或hashpay钱包，或未通过我们官方渠道下载hashpay应用程序或以其他不安全的方式使用hashpay应用程序导致的您的数字代币丢失；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）因您误操作（包括但不限于您输错转账地址、您自身选择转账节点服务器的问题）hashpay导致的数字代币丢失；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（4）因您不理解区块链技术的知识而进行误操作导致的您的数字代币丢失；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（5）因系统滞后、区块链系统不稳定等原因导致我们拷贝用户在区块链上的交易记录发生偏差；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.您应承担由下列情形产生或与之相关的风险和后果
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）您使用第三方服务操作的交易；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）您使用开发者模式；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）您使用币币兑换服务，该等风险和后果应由您、交易相对方和相关智能合约发行方承担。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
5.您理解hashpay仅作为您数字代币管理的工具。我们不能控制第三方服务的质量、安全或合法性，信息的真实性或准确性，以及相对方履行其在与您签订的协议项下的各项义务的能力。您自行决定是否使用第三方服务。您理解该交易和有约束力的合同关系在您和您的相对方之间建立，与我们无关。我们提醒您在使用第三方服务前，应谨慎判断第三方服务所提供相关信息的真实性、合法性和有效性。此外，您与任何第三方交易所产生的全部风险亦应由您自行承担。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
6.您知悉hashpay可能同时为您及您的交易对手方提供服务或与之有关联关系或其他利益相关的关系，您同意对我们可能存在的该等行为予以明确豁免任何实际或潜在的利益冲突，并不得以此来主张我们在提供服务时存在法律上的瑕疵，也不因此而加重我们的责任或注意义务。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
7.我们不提供以下形式的保证：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）我们提供的服务将符合您的全部需求；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）您经由我们的服务取得的任何技术、产品、服务、资讯或其他材料将符合您的期望；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）我们从第三方交易所抓取的数字代币市场交易行情等信息的及时性、准确性、完整性、可靠性；
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（4）您在hashpay上的交易对方会及时履行其在与您达成的交易协议中的各项义务。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
8.在任何情况下，我们对本《服务协议》所承担的违约赔偿责任总额不超过1）0.1个以太币的市场价值；或2）新加坡元100元，以较高的为准。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
9.您理解hashpay仅作为您管理数字代币、显示交易信息的工具，我们不提供法律、税务或投资建议等服务。您应当自行向法律、税务、投资方面的专业人士寻求建议，且您在使用我们服务过程中所遭受的投资损失、数据损失等，我们概不负责。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
10.您理解根据适用法律法规的要求，我们可能不时更改我们的用户准入标准，限定向特定用户等提供服务的范围和方式等。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
十、其他条款
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.不得转让。在符合本《服务协议》条款的情况下，只有您（而非其他人）有权向我们主张与使用服务相关的索赔。您不得转让、交易，或试图转让、交易您对该索赔的权利。任何该等转让行为均为无效，且我们对受让方不承担任何义务或责任。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.知识产权。hashpay系我们开发并拥有知识产权的应用程序。hashpay中显示的任何内容（包括本《服务协议》、公告、文章、视频、音频、图片、档案、资讯、资料、商标或标识）的知识产权归我们或第三方权利人所有。您仅可为持有和管理数字代币之目的使用hashpay应用程序及其中的内容。未经我们或第三方权利人的事先书面同意（或相关开源协议的允许），任何人不得擅自使用、修改、反向编译、复制、公开传播、改变、散布、发行或公开发表上述应用程序及内容（包括hashpay开源代码）。本《服务协议》不应被视为授予您任何知识产权，包括出于任何目的使用与我们或服务相关的任何信息、图片、用户界面、标识、商标、商业名称、网络域名或版权的权利。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.非弃权。任何我们未执行本《服务协议》或未向您主张我们在本《服务协议》项下的权利、索赔或诉因的行为均不被视为放弃我们向您主张任何权利、索赔或诉因的权利。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.完整协议：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）本《服务协议》由《hashpay服务协议》、《hashpay隐私政策》及我们不时公布的各项规则（包括“帮助中心”的内容）组成。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）除了本《服务协议》中的《hashpay服务协议》、《hashpay隐私政策》外，本《服务协议》包含我们之间关于使用hashpay和相关服务的全部协议和谅解，并取代所有先前的（口头的和书面的）协议、谅解或安排。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
5.税款：
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（1）使用本《服务协议》下的服务不含您在任何法域就您使用本服务所适用、产生、有关的税款（“应纳税款”）。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（2）您应负责确定任何应纳税款，并向合适的税务机关申报、代扣、收集、报告和代缴正确的应纳税款。您应自行承担因未完成或未履行您的任何与应纳税款相关的义务而产生的所有处罚、索赔、罚款、惩罚和其他责任。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
（3）我们不负责确定任何应纳税款，亦不负责向合适的税务机关申报、代扣、收集、报告和代缴正确的应纳税款。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
6.法律适用。本《服务协议》适用新加坡共和国法律，并应据此解释。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
7.管辖权。因本《服务协议》引起的或与之相关的任何争议（包括任何有关其存在、有效性、终止的问题），双方应首先寻求和解。如果该争议在该和解程序开始后的三十(30)天内仍未解决，双方应将该争议提交至新加坡国际仲裁中心（简称“SIAC”），并通过遵循新加坡国际仲裁中心届时有效的仲裁规则（该规则被视为通过引用并入本条款），最终以仲裁的方式在新加坡予以解决。仲裁庭由一名仲裁员组成，由SIAC主席任命。仲裁语言为英语。每一方不可撤销地接受新加坡法院之非专属管辖权，以支持和协助根据本段前述内容进行的仲裁程序，包括在该程序的结果作出之前给予临时救济（如必要）。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
8.《合同（第三方权利）法》。新加坡共和国的《合同（第三方权利）法》（第53B章）（可能不时被修改、修订或补充）应适用于本《服务协议》。非本《服务协议》一方的人士不得拥有本《服务协议》项下的任何权利，也无权执行本《服务协议》。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
9.独立性。本《服务协议》的任何部分被任何约束本《服务协议》的立法认为无效、非法或不可执行时，其仅在该范围（且不得进一步扩展）内被视为无效、非法或不可执行。为避免疑问，本《服务协议》的剩余部分将继续有效并保持充分的效力。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
10.部分无效。根据任何司法管辖区的法律，本《服务协议》任何条款被认定为非法、无效或不可执行的情形不得影响该条款依据其他司法管辖区的法律被认定为合法、有效或可执行，亦不得影响本《服务协议》其他条款的合法性、有效性或可执行性。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
11.本《服务协议》译本。本《服务协议》的任何译本（如有）仅为方便您而提供，无意对本《服务协议》的英文版本进行修改。如果本《服务协议》的英文版本与非英文版本之间存在冲突，应以英文版本为准。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
十一、其它
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
1.您应当全面了解并遵守您所在司法辖区与使用服务所有相关法律、法规及规则。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
2.您在使用服务过程中，如遇到任何问题，您可以通过在hashpay提交反馈等方式联系我们。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
3.所有的用户可以在hashpay中查看本《服务协议》。我们鼓励您在每次访问hashpay时都查阅本《服务协议》。
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
4.本《服务协议》未尽事宜，您需遵守我们不时更新的公告及相关规则。

</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
5.本《服务协议》自2021年10月14日起生效。
</p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
</p>
<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0">
</p>


<p class="MsoNormal" align="right" style="text-align:center;text-indent:21.0pt;
mso-char-indent-count:2.0"><span lang="EN-US"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Hashpay
Wallet Foundation LTD.<o:p></o:p></span></p>

<p class="MsoNormal" style="text-indent:21.0pt;mso-char-indent-count:2.0"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>


</div>
     </div>


</template>