@import '~antd/dist/antd.less';
@import './variables.less';
body {
    color     : #fff;
    overflow-y: scroll;
    width     : 100%;
    height    : 100%;
    font-family: 'PingFang SC-Regular, PingFang SC';
}

.container {
    width  : 100%;
    padding: 0 15px 0 15px;
}

.home-layout {
    background: #fff;
    color: #000;
}

.text-center {
    text-align: center;
}

button:disabled {
    border          : none !important;
    color           : rgba(#fff, 0.4) !important;
    background-color: rgb(65, 65, 65) !important;
}

.mobile-from-modal {
    border-radius: 10px;
    padding      : 30px;

    .ant-modal-content {
        width        : initial;
        background   : #fff;
        border-radius: 10px;
    }

    .ant-modal-body {
        .ant-select {
            width: 100%;

            .ant-select-selector {
                height       : 44px;
                background   : #fff;
                border-radius: 4px;
                border       : 1px solid #ddd;
                .ant-select-selection-item {
                    height     : 44px;
                    line-height: 44px;
                }
            }
        }

        .modal-bt {
            margin-top     : 20px;
            text-align     : right;
            display        : flex;
            align-items    : center;
            justify-content: flex-end;

            .btn-m-w {
                padding-right: 15px;
                font-size    : 12px;
                font-family  : PingFangSC-Regular, PingFang SC;
                font-weight  : 400;
                color        : #b1232c;
            }
        }
    }
}

.blue-btn {
    background   : linear-gradient(89deg, #20D0FE 0%, #4B8BFE 100%) !important;
    border-radius: 25px;
    font-weight  : bold;
    color        : #FFF !important;

}

button:disabled {
    background      : none !important;
    background-color: #dcdcdc !important;
}

.mobile-option-item {
    font-size  : 14px;
    font-family: SFPro-Semibold, SFPro;
    font-weight: 600;
    color      : #2b2b2b;

    img {
        height: 20px;
    }
}

.line {
    width     : 100%;
    height    : 0.5px;
    background: #C4C4C4;
}

.same-btn {
    background   : linear-gradient(360deg, #F0A632 0%, #F0A632 0%, #FFEA80 100%, #FFEA80 100%) !important;
    font-family  : PingFangSC-Semibold, PingFang SC;
    font-weight  : 600;
    color        : #242424 !important;
    font-size    : 15px;
    border       : none;
    border-radius: 5px;
    padding      : 0 40px;
    height       : 40px;
}

.ant-btn:before {
    background: transparent;
}

.showState {
    cursor                 : pointer;
    background             : linear-gradient(0deg, #F0A632 0%, #FFEA80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab-page {
    text-align: center;

    &>.tab-btn {
        background: @primary_color;
        color: #fff;
        border-radius: 4px;
        text-align: center;
        padding   : 5px 10px;
        display   : inline-block;
        cursor    : pointer;
        margin    : 10px;
    }
}
.jumpHover:hover{   
    animation: example .8s infinite linear;
}
.jump{   
    animation: example 7s infinite linear;
}
@keyframes example {
    0% {transform: translateY(0);}
    25% {transform: translateY(-10px);}
    50% {transform: translateY(0);}
    75% {transform: translateY(10px);}
    100% {transform: translateY(0);}
}

@media (min-width: 1200px) {
    html,
    body {
        font-size: 10px;
    }

    .tab-page {
        text-align: center;

        &>.tab-btn {
            padding: 5px 20px;
            margin : 20px 10px;
            border-radius: 4px;
        }
    }
    

    .same-btn {
        background   : linear-gradient(360deg, #F0A632 0%, #F0A632 0%, #FFEA80 100%, #FFEA80 100%) !important;
        font-family  : PingFangSC-Semibold, PingFang SC;
        font-weight  : 600;
        color        : #242424 !important;
        font-size    : 15px;
        border       : none;
        border-radius: 5px;
        padding      : 0 40px;
        height       : 40px;
    }

    .container {
        width  : 1200px;
        padding: 0;
        margin : auto;
    }

    .oneTop {
        padding   : 17px 30px 18px 0;
        height    : 70px;
        text-align: right;
        background: #fff;

        .left {
            display        : flex;
            justify-content: flex-end;

            &>div {
                display       : flex;
                flex-direction: column;
                margin-right  : 22px;
                align-items   : center;

                &>div {
                    display    : flex;
                    align-items: center;
                }

                .top {
                    font-size  : 12px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color      : #2b2b2b;
                }

                .bottom {
                    font-size  : 10px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color      : #999;

                    div:first-child {
                        width : 24px;
                        margin: auto;

                        &>div {
                            width        : 4px;
                            height       : 4px;
                            background   : #34ff31;
                            border-radius: 2px;
                        }
                    }
                }
            }

            .ant-btn {
                height: 35px;
            }
        }
    }

    .homes-layout {
        background: #fff;
    }

   
    .from-modal {
        border-radius: 10px;
        padding      : 30px;

        .ant-modal-content {
            width        : 400px;
            background   : #fff;
            border-radius: 10px;
        }

        .ant-modal-body {
            .ant-select {
                width: 100%;

                .ant-select-selector {
                    height       : 44px;
                    background   : #fff;
                    border-radius: 4px;
                    border       : 1px solid #ddd;

                    .ant-select-selection-item {
                        height     : 44px;
                        line-height: 44px;
                    }
                }
            }

            .modal-bt {
                margin-top: 20px;
                text-align: right;

                .btn-m-w {
                    padding-right: 50px;
                    font-size    : 12px;
                    font-family  : PingFangSC-Regular, PingFang SC;
                    font-weight  : 400;
                    color        : #b1232c;
                }
            }
        }
    }

    .option-item {
        font-size  : 14px;
        font-family: SFPro-Semibold, SFPro;
        font-weight: 600;
        color      : #2b2b2b;

        img {
            height: 20px;
        }
    }

    .line {
        width     : 100%;
        height    : 2px;
        background: #C4C4C4;
    }
}



@primary-color : #3E95FC; // 全局主色
@link-color : #1890ff; // 链接色
@success-color : #52c41a; // 成功色
@warning-color : #faad14; // 警告色
@error-color : #f5222d; // 错误色
@font-size-base : 14px; // 主字号
@heading-color : rgba(0, 0, 0, 0.85); // 标题色
@text-color : rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color : rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base : 2px; // 组件/浮层圆角
@border-color-base : #d9d9d9; // 边框色
@box-shadow-base : 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影