@import '../../styles/variables.less';

.home-mobile {
    .small-line {
        width     : 74px;
        height    : 11px;
        background: #3E95FC;
        margin-top: 13px;
    }

    .top-bg {
        height         : 819px;
        background-size: cover;
        position: relative;

        &>.content {

            text-align : center;
            padding-top: 59px;

            &>.title {
                font-size  : 38px;
                font-weight: 600;
                color      : #fff;
            }

            &>.content {
                font-size     : 20px;
                color         : #fff;
                letter-spacing: 8px;
            }

            &>.other-title {
                font-weight: 600;
                color      : #fff;

                font-size: 20px;
            }

            &>.other-content {
                font-size: 16px;
                color    : #fff;

            }

            &>.btn {
                margin-top    : 50px;
                display       : flex;
                flex-direction: column;
                align-items   : center;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 20px;

                &>.ant-btn {
                    width        : 170px;
                    height       : 46px;
                    border-radius: 44px 44px 44px 44px;
                    opacity      : 1;
                    border       : 1px solid rgba(255, 255, 255, .5);
                    font-size    : 14px;
                    color        : #fff;
                    background   : transparent;
                    margin       : 0 7px 20px;

                    &>div {
                        display        : flex;
                        align-items    : center;
                        justify-content: center;

                        &>img {
                            width       : 23px;
                            margin-right: 10px;
                        }

                    }
                    
                }
                &>.ant-btn:last-child{
                    &>div{
                        &>img{
                            width: 20px;
                        }
                    }
                }
            }

            &>.box {
                position: absolute;
                display: flex;
                top: 23%;
                left: 11%;


                .icon1 {
                    width      : 200px;
                    // width      : 10vw;
                    margin-top : -62px;
                   
                }

                .icon2 {}

                .icon3 {
                    width     : 50px;
                    // width     : 2.3vw;
                    
                   
                }

                .icon4 {
                    width     : 80px;
                    // width     : 4vw;
                    margin-left: 10px;
                }

                .icon5 {
                    width     : 90px;
                    // width     : 4.5vw;
                    

                }

                .icon6 {

                    width      : 40px;
                    // width      : 2vw;
                    margin-left: 20px;
                    margin-top: 20px;

                }

                .icon10 {
                    width: 50px;
                    // width: 2.1vw;

                    display: block;
                    margin-left: 10px;

                }

                .icon7 {
                    position  : absolute;
                    width     : 40px;
                    // width     : 2vw;
                    margin-top: -10px;
                }

                .icon8 {
                    position: absolute;
                    width   : 50px;
                    // width   : 2.5vw;
                    top     : 30px;
                }

                .icon9 {
                    position: absolute;
                    top     : 100px;
                    width   : 50px;
                    // width   : 2.5vw;
                    top: 80px;
                }

                .icon-right {
                    
                }


            }
        }
    }

    .module1 {
        margin: 48px 0;

        .module1-swiper {
            &>.swiper-wrapper {
                &>.swiper-slide {
                    &>.item {

                        height       : 360px;
                        background   : #FFFFFF;
                        border-radius: 10px 10px 10px 10px;
                        opacity      : 1;
                        border       : 1px solid #3E95FC;
                        text-align   : center;
                        padding      : 14px 27px;

                        &>img {
                            width: 193px;
                        }

                        &>.title {
                            font-size    : 19px;
                            color        : @primary_color;
                            margin-bottom: 15px;
                        }

                        &>.content {
                            font-size : 14px;
                            color     : #6C6C6C;
                            text-align: left;

                        }
                    }

                    &>.other-item {

                        height       : 460px;
                        background   : #FFFFFF;
                        border-radius: 10px 10px 10px 10px;
                        opacity      : 1;
                        border       : 1px solid #3E95FC;
                        text-align   : center;
                        padding      : 14px 27px;

                        &>img {
                            width: 193px;
                        }

                        &>.title {
                            font-size    : 19px;
                            color        : @primary_color;
                            margin-bottom: 15px;
                        }

                        &>.content {
                            font-size : 14px;
                            color     : #6C6C6C;
                            text-align: left;

                        }
                    }
                }
            }
        }
    }

    .module2 {
        .container {
            &>.top {
                text-align: center;

                &>.title {
                    font-size: 30px;
                    color    : @primary_color;

                }

                .small-line {
                    margin: 10px auto;
                }

            }

            &>img {
                width: 100%;
            }

            &>.right {
                padding: 0 15px;



                &>.content1 {
                    font-size: 15px;
                    color    : #131313;
                    margin   : 23px 0 23px;
                }

                &>.content2 {
                    display: flex;

                    &>div:first-child {
                        border-right : 1px solid #707070;
                        padding-right: 35px;
                        margin-right : 35px;
                    }

                    &>div {
                        &>div:first-child {
                            font-size    : 21px;
                            color        : @primary_color;
                            margin-bottom: 11px;

                        }

                        &>div:nth-child(2) {
                            font-size  : 10px;
                            color      : #6C6C6C;
                            font-weight: 300;
                        }
                    }
                }

                &>.content3 {

                    font-size    : 14px;
                    color        : #6C6C6C;
                    margin-top   : 35px;
                    margin-bottom: 20px;
                }

                &>.tokens {
                    img {
                        width        : 27px;
                        margin-right : 20px;
                        margin-bottom: 17px;
                    }
                }
            }
        }
    }

    .module3 {
        &>.container {
            &>.block1 {
                &>.top {
                    margin: 76px 0 66px;

                    &>.title {
                        font-size : 30px;
                        color     : @primary_color;
                        text-align: center;
                    }

                    &>.small-line {
                        margin: 13px auto;
                    }
                }

                &>img {
                    width: 100%;
                }

                &>.content {
                    &>.text1 {
                        font-size  : 14px;
                        color      : #131313;
                        margin-top : 35px;
                        font-weight: 300;
                    }

                    &>.text2 {
                        font-size  : 14px;
                        color      : #131313;
                        margin-top : 30px;
                        font-weight: 300;
                    }
                }
            }

            &>.block2 {
                margin-top: 53px;
                position  : relative;

                &>.top {
                    margin: 0 0 66px;

                    &>.title {
                        font-size : 30px;
                        color     : @primary_color;
                        text-align: center;
                    }

                    &>.small-line {
                        margin: 13px auto;
                    }
                }

                &>img {
                    width: 100%;
                }

                &>.content {

                    &>.small-line {
                        position: absolute;
                        right   : 0;
                    }

                    &>.text1 {
                        font-size  : 14px;
                        color      : #131313;
                        margin-top : 35px;
                        font-weight: 300;
                    }

                    &>.text2 {
                        font-size  : 14px;
                        color      : #131313;
                        margin-top : 30px;
                        font-weight: 300;
                    }
                }
            }

            &>.block3 {
                margin-top: 66px;
                position  : relative;

                &>.top {
                    margin: 0 0 66px;

                    &>.title {
                        font-size : 30px;
                        color     : @primary_color;
                        text-align: center;
                    }

                    &>.small-line {
                        margin: 13px auto;
                    }
                }

                &>img {
                    width: 100%;
                }

                &>.content {
                    &>.text1 {
                        font-size  : 14px;
                        color      : #131313;
                        margin-top : 33px;
                        font-weight: 300;
                    }

                }
            }
        }
    }

    .module4 {
        background: #F3F4F6;
        margin-top: 46px;
        padding   : 33px 0 43px;

        &>.container {
            &>.title {
                font-size    : 16px;
                color        : #6C6C6C;
                text-align   : center;
                margin-bottom: 43px;
            }

            &>.same-column {
                &>.ant-col {
                    &>div {
                        width          : 99px;
                        height         : 37px;
                        background     : #FFFFFF;
                        border-radius  : 10px 10px 10px 10px;
                        color          : #21325B;
                        display        : flex;
                        align-items    : center;
                        justify-content: center;
                        font-size      : 16px;
                        margin         : auto;
                        margin-bottom  : 18px;

                        &>a {
                            &>img {
                                width         : 80px;
                                -webkit-filter: grayscale(1) !important;
                                filter        : grayscale(1) !important;
                                opacity       : 0.6;
                            }

                            &>.kcc {
                                width: 110px;
                            }

                            &>img:hover {
                                filter        : none !important;
                                -webkit-filter: none !important;
                                opacity       : 1
                            }
                        }
                    }
                }

            }
        }
    }
}


@media (min-width: 1200px) {
    .videoBox{
        width: 100%;
        height: 100%;
    }
    
    .example_video{
        width: 100%;
        height: 100%;
        video{
            object-fit: cover;
        }
    }
    .vjs-poster{
        background-size: cover;
    }
    .home {
        .small-line {
            width     : 74px;
            height    : 11px;
            background: #3E95FC;
            margin-top: 13px;
        }

        .top-bg {
            background     : linear-gradient(126deg, #7EC7FF 0%, #5880FF 43%, #5757F3 100%);
            height         : 900px;
            background-size: cover;
            width          : 100%;
            margin-top     : -80px;
            

            &>.content {

                margin-top : 18%;
                margin-left: 20%;
                position: absolute;
            top: 0;

                &>.title {
                    font-size  : 65px;
                    font-weight: 600;
                    color      : #fff;
                    margin-left: 42px;
                }

                &>.content {
                    font-size     : 36px;
                    color         : #fff;
                    margin-left   : 42px;
                    letter-spacing: 8px;
                }

                &>.other-title {
                    font-weight: 600;
                    color      : #fff;
                    margin-left: 42px;
                    font-size  : 38px;
                }

                &>.other-content {
                    font-size  : 20px;
                    color      : #fff;
                    margin-left: 42px;
                }

                &>.btn {
                    margin-top : 50px;
                    display    : flex;
                    align-items: center;

                    &>.ant-btn {
                        width        : 170px;
                        height       : 46px;
                        border-radius: 44px 44px 44px 44px;
                        opacity      : 1;
                        border       : 1px solid rgba(255, 255, 255, .5);
                        font-size    : 14px;
                        color        : #fff;
                        background   : transparent;
                        margin       : 0 7px;

                        &>div {
                            display        : flex;
                            align-items    : center;
                            justify-content: center;

                            &>img {
                                width       : 23px;
                                margin-right: 10px;
                            }

                        }
                        
                    }
                    &>.ant-btn:last-child{
                        width: 177px;
                        &>div{
                            &>img{
                                width: 20px;
                            }
                        }
                    }
                }

                
            }
        }

        .boxs{
            position: absolute;
            bottom: 0;
            right: 12%;
            &>.box {
                position: absolute;
                display: flex;
                top: 23%;
                left: 11%;


                .icon1 {
                    width      : 200px;
                    width      : 10vw;
                    margin-top : -62px;
                    margin-left: -47px;
                }

                .icon2 {}

                .icon3 {
                    width     : 50px;
                    width     : 2.3vw;
                    margin-top: -40px;
                    margin-left: -10px;
                }

                .icon4 {
                    width     : 80px;
                    width     : 4vw;
                    margin-top: -60px;
                }

                .icon5 {
                    width     : 90px;
                    width     : 4.5vw;
                    

                }

                .icon6 {

                    width      : 40px;
                    width      : 2vw;
                    margin-left: 20px;

                }

                .icon10 {
                    width: 50px;
                    width: 2.1vw;

                    display: block;
                    margin-left: 10px;

                }

                .icon7 {
                    position  : absolute;
                    width     : 40px;
                    width     : 2vw;
                    margin-top: -10px;
                }

                .icon8 {
                    position: absolute;
                    width   : 50px;
                    width   : 2.5vw;
                    top     : 30px;
                }

                .icon9 {
                    position: absolute;
                    top     : 100px;
                    width   : 50px;
                    width   : 2.5vw;
                    top: 80px;
                }

                .icon-right {
                    margin-left: -40px;
                }


            }
            &>img{
                width: 560px;
                width: 28vw;
            }
        }

        .module1 {
            margin: 110px 0;

            &>.container {
                &>.ant-row {
                    &>.ant-col {
                        text-align: center;

                        &>img {
                            width: 242px;
                        }

                        &>.title {
                            font-size: 24px;
                            color    : @primary_color;
                        }

                        &>.content {
                            font-size : 16px;
                            color     : #6C6C6C;
                            text-align: left;
                            width     : 275px;
                            margin    : 19px auto auto;

                        }
                    }
                }
            }
        }

        .module2 {

            background       : #F3F4F6;
            // padding-left  : 80px;

            padding-top   : 60px;
            padding-bottom: 60px;

            .container {
                display        : flex;
                align-items    : center;
                justify-content: space-between;

                &>img {
                    width      : 800px;
                    margin-left: -12vw;
                }

                &>.right {
                    margin-top: 20px;

                    &>.top {
                        &>.title {
                            font-size: 30px;
                            color    : @primary_color;
                        }
                    }

                    &>.content1 {
                        width    : 475px;
                        font-size: 22px;
                        color    : #131313;
                        margin   : 69px 0 33px;
                    }

                    &>.content2 {
                        display: flex;

                        &>div:first-child {
                            border-right : 1px solid #707070;
                            padding-right: 35px;
                            margin-right : 35px;
                        }

                        &>div {
                            &>div:first-child {
                                font-size    : 30px;
                                color        : @primary_color;
                                margin-bottom: 11px;

                            }

                            &>div:nth-child(2) {
                                font-size  : 16px;
                                color      : #6C6C6C;
                                font-weight: 300;
                            }
                        }
                    }

                    &>.content3 {
                        width        : 475px;
                        font-size    : 16px;
                        color        : #6C6C6C;
                        margin-top   : 50px;
                        margin-bottom: 50px;
                    }

                    &>.tokens {
                        img {
                            width        : 39px;
                            margin-right : 30px;
                            margin-bottom: 24px;
                        }

                        span {
                            font-size: 30px;
                            color    : #6C6C6C;
                        }
                    }
                }
            }

        }

        .module3 {
            &>.container {
                &>.block1 {
                    margin-top     : 188px;
                    display        : flex;
                    justify-content: space-between;
                    align-items    : center;

                    &>img {
                        width: 482px;
                    }

                    &>.content {
                        &>.title {
                            font-size: 30px;
                            color    : @primary_color;
                        }

                        &>.text1 {
                            width      : 464px;
                            font-size  : 22px;
                            color      : #131313;
                            margin-top : 83px;
                            font-weight: 300;
                        }

                        &>.text2 {
                            width      : 464px;
                            font-size  : 22px;
                            color      : #131313;
                            margin-top : 50px;
                            font-weight: 300;
                        }
                    }
                }

                &>.block2 {
                    margin-top     : 188px;
                    display        : flex;
                    justify-content: space-between;
                    align-items    : center;
                    position       : relative;

                    &>img {
                        width: 600px;
                    }


                    &>.content {
                        text-align: right;
                        width     : 440px;

                        &>.top {
                            &>.title {
                                font-size: 30px;
                                color    : @primary_color;
                            }

                            &>.small-line {
                                position: absolute;
                                right   : 0;
                            }
                        }

                        &>.text1 {
                            // padding-left: 100px;
                            text-align : left;
                            font-size  : 22px;
                            color      : #131313;
                            margin-top : 83px;
                            font-weight: 300;
                        }

                        &>.text2 {
                            // padding-left: 100px;
                            text-align     : left;
                            font-size      : 22px;
                            color          : #131313;
                            // margin-top  : 50px;
                            font-weight    : 300;
                        }
                    }
                }

                &>.block3 {
                    margin-top     : 188px;
                    display        : flex;
                    justify-content: space-between;
                    align-items    : center;
                    position       : relative;

                    &>img {
                        width: 556px;
                    }

                    &>.content {

                        &>.title {
                            font-size: 30px;
                            color    : @primary_color;
                        }

                        &>.text1 {
                            width      : 506px;
                            font-size  : 22px;
                            color      : #131313;
                            margin-top : 33px;
                            font-weight: 300;
                        }

                    }
                }
            }
        }

        .module4 {
            background: #F3F4F6;
            margin-top: 220px;
            padding   : 90px 0 100px;

            &>.container {
                &>.title {
                    font-size    : 30px;
                    color        : #6C6C6C;
                    text-align   : center;
                    margin-bottom: 79px;

                }

                &>.same-column {

                    // display        : flex;
                    // justify-content: space-between;
                    // margin-bottom  : 36px;
                    &>.ant-col {
                        &>div {
                            width          : 198px;
                            height         : 75px;
                            background     : #FFFFFF;
                            border-radius  : 10px 10px 10px 10px;
                            color          : #21325B;
                            display        : flex;
                            align-items    : center;
                            justify-content: center;
                            font-size      : 20px;
                            margin         : auto;
                            margin-bottom  : 36px;

                            &>a {
                                &>img {
                                    width         : 145px;
                                    -webkit-filter: grayscale(1) !important;
                                    filter        : grayscale(1) !important;
                                    opacity       : 0.6;
                                }

                                &>.kcc {
                                    width: 200px;
                                }

                                &>img:hover {
                                    filter        : none !important;
                                    -webkit-filter: none !important;
                                    opacity       : 1;
                                }
                            }
                        }

                        .halo {
                            width: 100px;
                        }
                    }

                }
            }
        }
    }
}

@media(min-width:1200px) and (max-width:1500px) {
    .home {
        &>.top-bg{
            &>.content{
                margin-left: 10%;
            }
        }
        .module2 {
            &>.container{
                &>img{
                    width: 600px;
                    margin-left: 0;
                }
            }
        }
    }
}

@media(min-width:1960px) and (max-width:2000px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 16%;
                }
            }
        }
    }
}

@media(min-width:1960px) and (max-width:1959px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 16%;
                }
            }
        }
    }
}

@media(min-width:1900px) and (max-width:1959px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 17%;

                }
            }

        }
    }
}

@media(min-width:1860px) and (max-width:1989px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 18%;
                }
            }

        }
    }
}

@media(min-width:1860px) and (max-width:1989px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 18%;
                }
            }

        }
    }
}

@media(min-width:1796px) and (max-width:1840px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 20%;
                }
            }

        }
    }
}

@media(min-width:1761px) and (max-width:1860px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 20%;
                }
            }

        }
    }
}

@media(min-width:1701px) and (max-width:1760px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 21%;
                }
            }

        }
    }
}

@media(min-width:1679px) and (max-width:1700px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 20%;
                }
            }

        }
    }
}

@media(min-width:1651px) and (max-width:1678px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 19%;
                }
            }

        }
    }
}

@media(min-width:1583px) and (max-width:1650px) {
    .home {
        &>.top-bg {
            &>.content {
                &>.box {
                    right: 18%;
                }
            }

        }
    }
}

@media(min-width:2000px) and (max-width:2600px) {
    .home {
        &>.top-bg {
            height: 1100px;
            &>.content{
                margin-left: 23%;
            }

        }
    }
}

