
@import '../../styles/variables.less';
.tokens{
   
    background: #F3F4F6;
    &>.container{
        &>.bg{
            width: 100%;
            padding: 100px 0;
            font-size: 38px;
            color: #fff;
            background: @primary_color;
            text-align: center;
        }
        &>.dapp-form{
            padding: 30px 0;
            &>.ant-row{
                &>.ant-col{
                    padding-left: 10px;
padding-right: 10px;
}}
.submit{
display: flex;
justify-content: center;
&>.ant-btn{
    width: 200px;
    background: @primary_color;
color: #fff;
height: 40px;
}
}
}
    }
}




@media(min-width:1200px){
    .tokens{
       
        background: #F3F4F6;
        &>.container{
            &>.bg{
                width: 100%;
                padding: 100px 0;
                font-size: 38px;
                color: #fff;
                background: @primary_color;
                text-align: center;
            }
            &>.dapp-form{
                padding: 30px 0;
                &>.ant-row{
                    &>.ant-col{
                        padding-left: 10px;
    padding-right: 10px;
}}
.submit{
    display: flex;
    justify-content: center;
    &>.ant-btn{
        width: 200px;
        background: @primary_color;
    color: #fff;
    height: 40px;
    }
}
    }
        }
}
}