@import '../../styles/variables.less';

.mobile-header {
    margin-top: 63px;

    .wallet-icon {
        display    : flex;
        align-items: center;

        &>img {
            width        : 30px !important;
            height       : 30px !important;
            border-radius: 5px;
        }
    }

    .mobile-hd {
        position: fixed;
        top     : 20px;
        right   : 20px;
        z-index : 10;

        &>.mobile-hd-view {
            width             : 100%;
            height            : 63px;
            padding-top       : 10px;
            background        : #fff;
            // box-shadow     : 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            display           : flex;
            justify-content   : space-between;
            align-items       : center;
            position          : fixed;
            top               : 0;
            left              : 0;
            padding           : 0 20px;
            border-bottom     : 1px solid #DFDFDF;

            &>img {
                width: 116px;

            }
        }

        .mobile-menu-img {
            // width : 20px;
            height     : 30px;
            margin-left: 14px;
        }
    }

    .mobile-bg1-img {
        position: absolute;
        top     : -39.5px;
        right   : 0;
        width   : 101px;
        height  : 141px;
    }

    .mobile-menu {
        position          : fixed;
        top               : 0;
        right             : -100%;
        width             : 205px;
        height            : 100%;
        z-index           : 999;
        background-color  : #fff;
        transition        : all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition   : all 0.5s ease-out;
        -ms-transition    : all 0.5s ease-out;
        height            : 100%;
        overflow          : initial;

        &>div {
            height  : 100%;
            overflow: hidden auto;
            padding : 20px 0 0;

            &>section {
                background: #F8F8F8;
                padding   : 10px 0 10px;
            }

            &>.line {
                margin-bottom: 12px;
                margin-top   : 40px;
            }

            &>.language-title {
                padding-left: 24px;

                &>span {
                    font-size   : 14px;
                    color       : #000;
                    margin-right: 10px;
                }

                &>img {
                    width: 15px;
                }
            }
        }

        .mobile-homes {
            margin-bottom: 15px;

            .ant-menu-title-content {
                display    : flex;
                align-items: center;
            }
        }

        .menu-item {
            .ant-menu-title-content {
                overflow: initial !important;
            }
        }

        .mobile-application {
            border-top   : 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding      : 15px 0 15px;
            margin-bottom: 15px;
        }
    }

    .show-menu {
        right: 0;
    }

    .menu-back {
        position    : absolute;
        bottom      : 20px;
        font-size   : 16px;
        font-weight : bold;
        color       : #F3B442;
        padding-left: 24px;
    }

    .hd_wallet {
        flex           : 1;
        display        : flex;
        justify-content: flex-end;

        .wallet_address {
            color    : @primary_color;
            font-size: 14px;
        }
    }


    .ConnectWallet {
        &>.ant-btn {
            border-radius: 10px;
            height       : 30px;
            color        : @primary_color;
            border       : 1px solid @primary_color;
            font-size    : 12px;
        }

    }


    .drawer-mask {
        background: #000;
        opacity   : 0;
        width     : 100%;
        height    : 0;
        position  : fixed;
        top       : 0;
        left      : 0;
        transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), height 0s ease 0.3s;
        z-index   : 99;
    }

    .drawer-show {
        opacity   : 0.6;
        height    : 100%;
        transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    }

    .ant-menu {
        font-size     : 16px;
        // color      : @menu_color;
        font-weight   : bold;

        img {
            width       : 20px;
            margin-right: 10px;
        }

        &>.ant-menu-item img {
            height: 24px;
            width : initial;
        }

        .ant-menu-inline .ant-menu-submenu-title {
            padding-left: 20px !important;
        }

        .ant-menu-submenu {
            .ant-menu-submenu-title {
                .ant-menu-submenu-arrow {
                    color: #fff;
                }
            }

            .ant-menu-sub.ant-menu-inline {
                background: @menu_bg  !important;

                &>.ant-menu-item {
                    padding-left: 30px !important;
                }
            }

        }


        .line {
            margin: 15px 0;
        }

        .home-icon {
            height       : 50px;
            border-bottom: 1px solid #C8C8C8;

            &>div {
                display    : flex;
                align-items: center;

                &>img {
                    height     : 15px;
                    margin-left: 10px;
                }
            }
        }
    }



    .home-bt-con {
        &>div {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            width          : 100%;
            padding        : 10px 30px 10px;
            margin         : 0 auto;
        }
    }

    .jump-img {
        width : 30px !important;
        cursor: pointer;
    }

    .ant-menu-item-selected {
        background-color: transparent !important;
        color           : @primary_color  !important;

        .ant-menu-title-content {
            font-size  : 16px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color      : @primary_color  !important;
        }
    }
}

.info-class {
    margin: 30px;

    .ant-message-notice-content {
        width        : 300px;
        padding      : 50px;
        border-radius: 10px;
        width        : 100%;
        font-size    : 16px;
        font-family  : PingFangSC-Semibold, PingFang SC;
        font-weight  : 600;
        color        : #000;
    }
}

.changeLanguage {
    font-size: 16px !important;
    color    : #F3B442 !important;
    padding  : 15px 0 0 0 !important;

    .ant-select-selector {
        background-color: transparent !important;
        border          : none !important;
        border-color    : transparent !important;

        .ant-select-selection-item {
            line-height: 16px !important;
        }
    }

    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        height: 40px !important;

    }

    .ant-select-arrow {
        color: #F3B442 !important;
    }

    .ant-select-single.ant-select-open .ant-select-selection-item {
        color: #F3B442 !important;

    }

    &>.ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background-color: transparent;
        border          : none;
    }

    .ant-select-selector:hover {
        background-color: transparent !important;
        border          : none !important;
        border-color    : transparent !important;
    }

    .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
        border      : none !important;
        border-color: transparent !important;
    }

    .ant-menu-item:hover {
        background-color: transparent !important;
        color           : #F3B442 !important;
        border-top      : 2px solid #F3B442;
    }
}



.ant-select-dropdown.selectLanguage {
    // color           : rgba(26, 26, 26, 0.81);
    background-color: #000 !important;
    border          : 2px solid #F3B442;
    border-radius   : 10px !important;

    .ant-select-item {
        color: #dcdcdc;
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: transparent !important;
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        color           : #fff;
        background-color: transparent !important;
    }

    .rc-virtual-list-holder-inner {
        text-align: center;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-submenu-active,
    .ant-menu-submenu-title:hover {
        color: @menu_color_selected  !important;
    }

    .changeLanguage {
        font-size: 17px !important;
        color    : #F3B442 !important;
        padding  : 18px 0 0 0 !important;
    }

    .changeLanguage .ant-select-arrow {
        top: 62% !important;
    }

    .mobile-header .wallet_address {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    .wallet-icon {
        display    : flex;
        align-items: center;

        &>img {
            border-radius: 5px;
            width        : 30px !important;
            height       : 30px !important;
        }
    }

    .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-submenu-active,
    .ant-menu-submenu-title:hover {
        color: @menu_color_selected  !important;
    }

    .hd_wallet {
        margin-left: 50px;

        .wallet_address {
            color    : #fff;
            font-size: 16px;
        }

        .ConnectWallet {
            &>.ant-btn {
                width        : 130px;
                height       : 40px;
                border-radius: 20px 20px 20px 20px;
                opacity      : 1;
                border       : 1px solid #FFF;
                background   : transparent;
                color        : #fff;
                border       : 1px solid #fff;
            }
        }
    }


    .changeLanguage {
        font-size  : 16px !important;
        color      : #F3B442 !important;
        padding    : 13px 0 0 0 !important;
        display    : flex;
        align-items: center;

        .ant-select-selector {
            background-color: transparent !important;
            border          : none !important;
            border-color    : transparent !important;

            .ant-select-selection-item {
                line-height: 30px !important;
            }
        }

        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
            height: 40px !important;
        }

        .ant-select-arrow {
            color: #F3B442 !important;
            top  : 57% !important;
        }

        .ant-select-single.ant-select-open .ant-select-selection-item {
            color: #F3B442 !important;
        }

        &>.ant-select:not(.ant-select-customize-input) .ant-select-selector {
            border          : 1px solid #E8E8E8;
            background-color: transparent;
            border          : none;
        }

        .ant-select-selector:hover {
            background-color: transparent !important;
            border          : none !important;
            border-color    : transparent !important;
        }

        .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
            border      : none !important;
            border-color: transparent !important;
        }
    }


    .ant-select-dropdown.selectLanguage {
        .ant-select-item {
            color: #dcdcdc;
        }

        .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
            background-color: transparent !important;
        }

        .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
            color           : #fff;
            background-color: transparent !important;
        }

        .rc-virtual-list-holder-inner {
            text-align: center;
        }
    }

    .main-header {
        position        : relative;
        display         : flex;
        flex-direction  : column;
        background      : transparent;
        overflow        : initial;
        background-color: transparent;

        .ant-btn-primary {
            width        : 160px;
            height       : 44px;
            border-radius: 4px;
        }

        .logo-img {
            width       : 150px;
            cursor      : pointer;
            margin-right: 26px;
        }

        .ishome {
            z-index: 100;
            .hd-menu {
                display    : flex;
                flex       : 1;
                align-items: center;

            }

            .container {
                .right {
                    // display    : flex;
                    // align-items: center;
                }
            }
        }

        .ishome {
            border-bottom: 1px solid rgba(255, 255, 255, .5);
            

            &>.container {
                display        : flex;
                justify-content: space-between;
                z-index        : 9;
                align-items    : center;
                margin         : auto;
            }

        }
        .isOther{
            background: @primary_color;
        }

        .hd-menu {
            background: none !important;
            color     : #fff !important;

            .line {
                width     : 200px;
                height    : 1px;
                background: #ddd;
                margin    : 30px 0;
            }

            .menu-item {
                font-size  : 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color      : #fff;
            }

            .ant-menu-title-content {
                font-size     : 18px;
                font-family   : PingFangSC-Regular, PingFang SC;
                font-weight   : 400;
                // color      : #000;
                display       : flex;
                align-items   : center;
                overflow      : initial !important;

                &>div {
                    display    : flex;
                    align-items: center;
                }
            }

            .menu-item:hover {
                color     : #F3B442 !important;
                background: rgba(255, 255, 255, 0.5) !important;

                .ant-menu-submenu-title {
                    color: red !important;
                }
            }

            .ant-menu-item {
                display     : flex;
                align-items : center;
                font-size   : 16px;
                font-family : PingFangSC-Regular, PingFang SC;
                font-weight : 400;
                color       : @menu_color;
                padding: 0 25px !important;
                height      : 80px;
            }

            .ant-menu-submenu {
                font-size  : 16px;
                color      : @menu_color;
                display    : flex;
                align-items: center;
                height     : 80px;
            }

            .down-submenu {
                padding: 0;

                &>.ant-menu-submenu-title {
                    padding: 0 20px;
                }
            }

            img {
                height      : 20px;
                margin-right: 10px;
            }

            .ant-menu-item.ant-menu-item-selected {
                background-color: transparent !important;
                color           : @menu_color_selected  !important;
            }

            .ant-menu-item:hover {
                background-color: transparent !important;
                color           : @menu_color_selected  !important;

            }

            .ant-menu-submenu.ant-menu-item-selected {
                // background-color: @menu_bg  !important;

                .ant-menu-submenu-title {
                    color: @primary_color  !important;
                }


            }

            .ant-menu-submenu-selected {
                background-color: @menu_bg  !important;
                color           : @primary_color  !important;
            }
        }

        .ant-menu-submenu-title .anticon {
            margin-right: 0;
        }

        .bg1-img {
            width   : 739px;
            height  : 572px;
            position: absolute;
            top     : 0;
            right   : 0;
        }

        @media screen and (min-width: 1440px) {
            .bg1-img {
                width   : 739px;
                height  : 572px;
                position: absolute;
                top     : 0;
                right   : 0;
            }
        }


    }

    .other-header {
        position  : fixed;
        margin-top: -80px;
        height    : 102%;
        overflow  : initial;
        background: #fff;
        box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.05);

        .home-hd {
            height         : 100%;
            overflow       : hidden auto;
            padding        : 40px 20px 0;
            width          : 240px;
            scrollbar-width: none;

            .hd-menu {
                padding-bottom: 140px;

                .hd-application {
                    border-bottom: 1px solid #DDD;
                    border-top   : 1px solid #DDD;
                    padding      : 30px 0 30px;
                    margin       : 20px 0 20px;
                }
            }

            &>div {
                padding-left: 25px;
            }

            .ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow:after,
            .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow:after,
            .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow:after,
            .ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow:before,
            .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow:before,
            .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow:before {
                background: #000;
            }
        }
    }

    .home-hd::-webkit-scrollbar {
        display: none;
    }



    .menu-item-sub {
        font-weight: 700;
    }



    .menu-item-sub.ant-menu-item-only-child {
        color     : #fff !important;
        background: none !important;
    }

    .ant-menu-item-active {
        background   : #F3B442;
        border-radius: 4px;
        opacity      : 0.9;
    }

    //home
    .menu-item-sub.ant-menu-item-only-child:hover {
        color     : #fff !important;
        background: none !important;
    }

    //下拉
    .ant-menu-dark.ant-menu-submenu-popup {
        margin-left: -20px !important;
        box-shadow : 0 3px 6px 1px rgb(0 0 0 / 16%);

        &>.ant-menu-sub {
            min-width    : 120px !important;
            background   : #fff !important;
            border-radius: 10px;
            text-align   : center;
            margin-left  : -20px;

            &>.ant-menu {
                border-radius: 10px !important;
            }

            &>.ant-menu-item {
                color           : @submenu_color;
                background-color: transparent !important;
                padding         : 0 30px;
            }

            &>.ant-menu-item-active {
                color: @submenu_color_selected ;

            }
        }
    }


    .ant-menu-item {
        img {
            height: 16px;
        }
    }

    //tips
    .info-class {
        .ant-message-notice-content {
            width        : 400px;
            padding      : 50px;
            border-radius: 10px;
            font-size    : 16px;
            font-family  : PingFangSC-Semibold, PingFang SC;
            font-weight  : 600;
            padding-top  : 50px;
        }
    }
}

.ant-menu-inline .ant-menu-item:after {
    border-right: none !important;
}