@import '../../styles/variables.less';
.footer {
    background : #fff;
    text-align : center;
    font-size  : 14px;
    font-weight: 500;
    padding    : 42px 0 50px 0;
    margin-top : -1px;
    .footer-mobile {
        text-align: center;
        &>.content {
            font-size  : 12px;
            font-weight: 400;
            color      : #000;
            margin-top : 10px;
        }

        &>.icon {
            &>a {
                margin-right: 8px;
                &>img {
                    width: 23px;
                }
            }
        }

        &>a {
            font-size: 12px;
            padding  : 0 10px;
            color    : #000;
        }
    }

}

@media (min-width: 1200px) {
    .footer {
        padding  : 100px 0 100px;
        font-size: 20px;


        .footer-pc {
            &>.top {
                display        : flex;
                justify-content: space-between;

                &>.left {
                    text-align: left;

                    &>img {
                        width: 158px;
                    }

                    &>div {
                        font-family: Segoe UI-Regular, Segoe UI;
                        font-size  : 18px;
                        color      : #000;
                        width      : 464px;
                        font-weight: 300;
                        margin-top : 32px;
                    }

                    &>.icon {
                        &>a {
                            margin-right: 10px;
                            &>img {
                                width: 32px;
                            }
                        }
                    }

                }

                &>.right {
                    display    : flex;
                    font-size  : 16px;
                    font-weight: 300;
                    color      : #707070;

                    &>div {
                        margin    : 0 30px;
                        text-align: left;
                        cursor    : pointer;

                        &>div {
                            margin-top: 28px;
                        }
                        &>div:not(.title):hover{
                            color: @primary_color;
                        }


                        &>.title {
                            color      : #000;
                            font-weight: 400;

                            &>img {
                                width: 22px;
                            }
                        }

                        &>.language-change {
                            padding-left: 0;

                            &>div {
                                &>.language {
                                    margin-top : 0;
                                    font-size  : 16px;
                                    font-weight: 300;
                                    color      : #707070;
                                }
                            }
                        }
                    }
                }
            }



            &>.line {
                margin-top   : 37px;
                margin-bottom: 16px;
            }

            &>.bottom {
                border-top     : 1px solid #C4C4C4;
                display        : flex;
                justify-content: center;
                font-size      : 16px;
                font-weight    : 400;
                color          : #000;
                margin-top     : 37px;
                padding-top    : 15px;

                &>div {
                    &>a:first-child {
                        margin-right: 10px;
                    }

                    &>a {

                        color: #000000;

                        &>img {
                            width: 32px;
                        }
                    }
                }
            }
        }
    }
}

.ant-select-selection__rendered {
    height: 100%;
}

.ant-select-selector {
    border: none !important;
}

.ant-select-selection {
    border    : none !important;
    box-shadow: none;
}