<template>
  <div class="ladarTime">
    <van-overlay :show="isActived" @click="isActived = false">
      <div class="wrapper" @click.stop>
        <div class="block" />
      </div>

      <div class="box" @click.stop>
        <div><img src="@/assets/ladarTime.png" /></div>
        <p>好友令牌</p>
        <input v-model="friendLadar" placeholder="输入好友雷达令" />
        <div class="scanpng"><img @click="sendBack" class="" src="@/assets/scan.png" /></div>
        <p>赠送金额</p>
        <input type="number" placeholder="最少输入0.01" v-model="value" />
        <div class="tmz">ME</div>
        <button v-bind:disabled="dis" @click="activation">激活</button>
      </div>
    </van-overlay>
  </div>
</template>

<script>

export default {
  
  components: {},
  data() {
    return {
      value: "",
      friendLadar: "",
      isActived: false,
      dis: false, //禁止
    };
  },
  created() {
    this.$contracts 
  },
  watch: {
    value(val) {
      if (val.toString().includes("-")) {
        this.value = Number(val.toString().replace(/\-/g, ""));
      }
    },
  },
  methods: {
    sendBack() {
       window.qrcodeRelst = (content)=> {
        this.friendLadar=content
      };
     scanQRCode.postMessage("qrcodeRelst");
    },
    
    show() {
      this.isActived = true;
    },
    async activation() {
      if (Number(this.value) < 0.01) {
        return vant.Toast.fail("赠送金额最低0.01");
      }
      const amount = await this.$web3.eth.getBalance(this.$address);
      if (Number(amount.fromWei()) < Number(this.value)) {
        return vant.Toast.fail("余额不足");
      }

      //检测base64
      const Base64 = require("js-base64").Base64;
      const decodeContent = Base64.decode(this.friendLadar);
      // const base64Pattern = new RegExp(
      //   "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{4}|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)$"
      // );
     
      if (!this.$web3.utils.isAddress(decodeContent)) {
        return vant.Toast.fail("请输入正确的雷达令");
      }
      // const sigUtil = require("eth-sig-util");
      // const msgParams = [];
      // msgParams.push({
      //   type: "string",
      //   name: "Message",
      //   value: "__MakeRelationsAccessToken__",
      // });
      // const sign = Base64.decode(this.friendLadar);

      // const recovered = sigUtil.recoverTypedSignatureLegacy({
      //   data: msgParams,
      //   sig: sign,
      // });
      const makeRelationTo = this.$contracts.Relations.methods.makeRelationTo(
        decodeContent
      );
      makeRelationTo.call(
        { from: this.$address, value: this.value.toWei() },
        (err, res) => {
          if (!err) {
            
            this.changeColor = "#dcdcdc";
            vant.Toast.loading({
                  message: "绑定中",
                  loadingType: "spinner",
                  forbidClick: true,
                  duration: 0,
                });
            this.dis = true;
            makeRelationTo
              .send({ from: this.$address, value: this.value.toWei() })
              .on("transactionHash", (txRaw) => {
                
              }).on('receipt', data => {
                
                vant.Toast.clear();
                this.isActived = false;
                this.$emit("update", true);
                vant.Toast.success("绑定成功");
                this.dis = false;
              }).on("error", (err) => {
                
                vant.Toast.fail("绑定失败");
                this.dis = false;
              });
          } else {
            vant.Toast.fail("已绑定,请勿重复绑定");
          }
        }
      );
    },
  },
};
</script>
<style lang="scss" scoped>
.box {
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 15px;
  margin: 20px;
  font-size: 15px;
  color: #0e141c;
  padding: 20px;
  input {
    width: 93%;
    height: 50px;
    border: 1px solid #979797;
    opacity: 0.5;
    border-radius: 10px;
    padding-left: 14px;
  }
  .scanpng {
    width: 60px;
    height: 20px;
    position: absolute;
    right: 45px;
    margin-top: -35px;
        z-index: 10;
    background: #fff;
    img{
      width: 20px;
    }
    
  }
  .tmz {
    font-size: 13px;
    color: #707070;
    position: absolute;
    right: 70px;
    margin-top: -35px;
  }
  div {
    text-align: center;
    img {
      width: 132px;
    }
  }
  & > button {
    width: 100%;
    height: 48px;
    background: #5991ff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
  }
}
</style>
