<template>
  <ul class="list-box" v-show="isActive">
    <li v-for="(value, key) in list">
      <template v-if="key == 1">
        <span>Mini矿机</span><span>{{ value }} 台</span>
      </template>
      <template v-if="key == 2">
        <span>Small矿机</span><span>{{ value }} 台</span>
      </template>
      <template v-if="key == 3">
        <span>Middle矿机</span><span>{{ value }} 台</span>
      </template>
      <template v-if="key == 4">
        <span>Big矿机</span><span>{{ value }} 台</span>
      </template>
      <template v-if="key == 5">
        <span>Super矿机</span><span>{{ value }} 台</span>
      </template>
    </li>
  </ul>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      isActive: false,
      list: [],
    };
  },
  created() {
    this.$contracts;
  },
  watch: {},
  methods: {
    showDetails(address, index, isShow) {
      if (isShow) {
        this.isActive = true;
        this.init(address);
        if (this.isActive) {
          //定位
          const top = index * 38 + 30 + "px";
          document.querySelector(".list-box").style.top = top;
        }
      } else {
        this.isActive = false;
      }
    },
    async init(address) {
      let MachineNFTP = this.$contracts.ERC721;
      const nftBalanceCount = await MachineNFTP.methods
        .balanceOf(address)
        .call({ from: address });
      let data=[]
      if (nftBalanceCount > 0) {
        data = await this.getMachine(address);
      }
       //  "Mini矿机",
      //   "Small矿机",
      //   "Middle矿机",
      //   "Big矿机",
      //   "Super矿机",
      //级别对应矿机
      let array = {
        1: 0,
        2: 0,
        3: 0,
        4: 0,
        5: 0,
      };
      const machineArray = [];
      data.forEach((item) => {
        machineArray.push(item.machineLevel);
      });
      //数组合并相加
      let obj = {};
      machineArray.forEach((item) => {
        let value = 1;
        item in obj ? (obj[item] += value) : (obj[item] = value);
      });

      for (let i in obj) {
        let o = {};
        o[i] = obj[i];
        for (let j in array) {
          if (i == j) {
            array[j] = obj[i];
          }
        }
      }
      this.list = array;
    },
    getMachine(address) {
      return new Promise(async (resolve, reject) => {
        let self = this;
        let MachineNFTP = this.$contracts.ERC721;
        let GenesisMachineProxy = this.$contracts.GenesisMachine;
        const nftBalanceCount = await MachineNFTP.methods
          .balanceOf(address)
          .call({ from: address });
        if (nftBalanceCount <= 0) return;
        const Batch = new this.$web3.BatchRequest();
        Batch.add(
          MachineNFTP.methods.tokenOfOwnerByIndex(address, 0).call.request({
            from: address,
          })
        );
        for (let i = 0; i < nftBalanceCount; i++) {
          //循环添加获取每台矿机的NFTP 10000000001
          Batch.add(
            MachineNFTP.methods.tokenOfOwnerByIndex(address, i).call.request({
              from: address,
            })
          );
        }

        Batch.requestManager.sendBatch(Batch.requests, (error, reponse) => {
          if (error) {
            reject(error);
            return;
          }
          if (reponse.length < 1) {
            resolve([]);
          }

          let p3Batch = new this.$web3.eth.BatchRequest();
          //批量请求得到结果后，需要进行转码 0x00000000000000000000000000000000000000000000000000000002540be400
          p3Batch.add(
            GenesisMachineProxy.methods
              .coinMachineOf(
                1, //Math.floor(10000000000 / 10e9) == 1
                1
              )
              .call.request({
                from: address,
              })
          );
          for (let j = 1; j < reponse.length; j++) {
            let machineNFTId = self.$web3.eth.abi.decodeParameters(
              ["uint256"],
              reponse[j].result
            );
            p3Batch.add(
              GenesisMachineProxy.methods
                .coinMachineOf(
                  Math.floor(machineNFTId[0] / 10e9), //Math.floor(10000000000 / 10e9) == 1
                  machineNFTId[0] % 10e9
                )
                .call.request({
                  from: address,
                })
            );
          }
          p3Batch.requestManager.sendBatch(
            p3Batch.requests,
            (error, p3response) => {
              if (error) {
                reject(error);
                return;
              }

              let machineList = [];
              for (let j = 1; j < p3response.length; j++) {
                //进行p3的转码
                let ret = self.$web3.eth.abi.decodeParameters(
                  [
                    //对应json里面inputs的数组内容
                    {
                      internalType: "uint8",
                      name: "machineLevel",
                      type: "uint8",
                    },
                  ],
                  p3response[j].result
                );
                machineList.push(ret);
                resolve(machineList);
              }
            }
          );
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.list-box {
  width: 144px;
  z-index: 99;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 11px 15px 11px;
  font-size: 15px;
  color: #707070;
  background: #ffffff;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 10px;
  & > ::before {
    content: " ";
    width: 0;
    height: 0;
    border: solid transparent;
    left: 100%;
    top: 18px;
    position: absolute;
    border-width: 8px;
    border-left-color: #fff;
  }
  li {
    display: flex;
    justify-content: space-between;
    line-height: 37px;
  }
}
</style>
